@import "../../../globalStyles/commons";
@import "../pie/pie";

:host {
  display: inline-block;
}

.title {
  font-size: var(--heading-03-font-size);
  font-weight: 600;
  line-height: var(--heading-03-line-height);
  letter-spacing: var(--heading-03-letter-spacing);
  fill: var(--text-primary);
}

.label {
  font-size: var(--heading-02-font-size);
  line-height: var(--heading-02-line-height);
  letter-spacing: var(--heading-02-letter-spacing);
  fill: var(--text-primary);
}

.item-polyline {
  fill: none;
  stroke-width: 1;
  stroke: var(--text-primary);
}

.item-label {
  fill: var(--text-primary);
  font-size: var(--label-01-font-size);
  font-weight: var(--label-01-font-weight);
  line-height: var(--label-01-line-height);
  letter-spacing: var(--label-01-letter-spacing);
}
