@import "../../../globalStyles/commons";

:host {
  display: inline-block;
  color: v(--text-primary);
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  @include font-style(body-comptact-01);

  &.has-content {
    gap: v(--spacing-02);
  }

  .input-native {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .box {
    position: relative;
    background: v(--toggle-off);
    border: 1px solid v(--ui-04);
    border-radius: 5rem;
    cursor: pointer;
    display: flex;
    transition: background-color 70ms cubic-bezier(.2, 0, 1, .9);
    align-items: center;

    .node {
      display: block;
      border-radius: 50%;
      transition: all 70ms cubic-bezier(.2, 0, 1, .9);
      background: white;
    }
  }


  &.has-focus:not(.active) {
    .box {
      @include focus-ring;
      border-color: transparent;
    }

    &:not(.state-checked) .node {
      border-color: v(--icon-01);
    }
  }

}

:host(.light) .box {
  background-color: v(--field-02);
}


.toggle.state-checked {
  .box {
    background: v(--support-success);
  }

  &.active .box {
    border-color: v(--color-white);
  }

  &.has-focus:not(.active) {
    .box {
      @include focus-ring;
      border-color: v(--color-white);
    }
  }

}


/**
 * SIZES
 */
.toggle.size-md {

  .box {
    width: 2.5rem;
    height: 1.25rem;
    padding: 0 0.25rem;

    .node {
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  &.state-checked .box {
    padding-left: 1.25rem;
  }
}

.toggle.size-lg {

  .box {
    width: 3rem;
    height: 1.5rem;
    padding: 0 0.25rem;

    .node {
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  &.state-checked .node {
    transform: translateX(1.5rem);
  }
}


.toggle.readonly {
  cursor: default;
  color: v(--text-primary) !important;

  .box {
    background: transparent !important;

    .node {
      border-color: #{v(--disabled-01)} !important;
      background: v(--icon-primary) !important;
    }
  }

}

.toggle.disabled {
  cursor: not-allowed;
  color: v(--text-disabled) !important;

  .box {
    background: v(--button-disabled) !important;

    .node {
      border-color: #{v(--disabled-01)} !important;
      background: v(--icon-on-color-disabled) !important;
    }
  }
}


