---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
  <div class='centered'>
    <goat-avatar name='Shivaji Varma' src='/assets/img/avatar.png'></goat-avatar>
  </div>
  <br />
  <div class='centered'>
    <goat-avatar name='Shivaji Varma'></goat-avatar>
  </div>
  <br />
  <div class='centered'>
    <goat-avatar name='Shivaji Varma' class='square'></goat-avatar>
  </div>
</HighlighterCard>
