@import "../../../globalStyles/commons";

:host .button-group {
  display: flex;

  slot::slotted(goat-button) {
    display: block;
    margin: 0;
    --button-border-width: 0.125rem;
    --button-border-radius: 0;
    border-right: 1px solid white;
  }

  slot::slotted(goat-button:first-child) {
    --button-border-radius: #{v(--border-radius)} 0 0 #{v(--border-radius)};
  }

  slot::slotted(goat-button:last-child) {
    --button-border-radius: 0 #{v(--border-radius)} #{v(--border-radius)} 0;
    border-right: 0;
  }

  slot::slotted(goat-button:only-child) {
    --button-border-radius: #{v(--border-radius)};
    --button-border-width: 0.125rem;
  }
}
