@import "../../../styles/scss/commons";

:host {
  display: inline-block;
  --dropdown-max-height: inherit;
}

.dropdown {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: v(--border-radius);

  .dropdown-button {
    border: none;
    background: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .dropdown-content {
    z-index: v(--z-index-dropdown-content);
    position: absolute;
    width: max-content;
    line-height: 0;
    transform: scale(0);
    transition: transform 0.1s ease-out 0s;
    .dropdown-list {
      --list-max-height: var(--dropdown-max-height);
    }
  }



  &.is-open {
    .dropdown-content {
      transform: scale(1);
    }
  }

  &.bottom-right .dropdown-content {
    top: calc(100% + #{v(--space-1)});
    left: 0;
    transform-origin: left top;
  }

  &.bottom-left .dropdown-content {
    top: calc(100% + #{v(--space-1)});
    right: 0;
    transform-origin: right top;
  }

  &.top-right .dropdown-content {
    bottom: calc(100% + #{v(--space-1)});
    left: 0;
    transform-origin: left bottom;
  }

  &.top-left .dropdown-content {
    bottom: calc(100% + #{v(--space-1)});
    right: 0;
    transform-origin: right bottom;
  }

}

:host([focused]) {
  .dropdown {
    .dropdown-button {
      @include focus-ring;
    }
  }
}
