@import "../../../../globalStyles/commons";

:host {
  display: block;
  --table-border-radius: #{v(border-radius)};
  height: 400px
}


.flow-designer {
  height: 100%;
  width: 100%;
  overflow: hidden;

  border-radius: var(--table-border-radius);
  background-color: #{v(background-color)};
  border: 1px solid #{v(border-color)};
}

.canvas-wrapper {
  @include font-style(text-md);
  position: relative;
  width: 100%;
  height: 100%;
}

.flow-lines, .flow-items {
  position: absolute;
  top: 0;
  left: 0;
}

.flow-items {
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none;
}

.activity {
  fill: v(--background);
  stroke: v(--border-color);
}

.flow-designer {

  /* border: 1px solid v(color-neutral-30);
   box-sizing: border-box;
   border-radius: var(--table-border-radius);
   overflow:hidden;
   height: 100%;
   .flow-scroll-wrapper {
     position: relative;
     z-index: v(z-index-table-header);
     overflow: hidden;
     height: 100%;
     width: 100%;
     min-height: 20em;

     .flow {
       display: flex;
       align-items: center;
       justify-content: center;
       user-select: none;
       cursor: grab;
       position: absolute;
       min-height: 300rem;
       min-width: 300rem;
       background: v(color-neutral-10);
     }
   }

   .start-activity {

   }*/
}
