@import "commons";

:host {
  display: block;
  padding-bottom: v(space-3);
  --input-border-radius: #{v(border-radius)};
  --input-border-style: solid;
}

.input {

  position: relative;
  display: flex;
  box-sizing: border-box;

  background-color: v(color-shades-white);
  border: 1px var(--input-border-style) v(border-color);
  border-radius: var(--input-border-radius);
  overflow: hidden;
  cursor: text;
  align-items: stretch;
  justify-content: center;


  .native-input, .display-value {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding-left: v(space-4);
    padding-right: v(space-4);
    width: 100%;
    cursor: inherit;

    &::placeholder {
      color: v(color-neutral-400);
    }
  }


  .slot-container {
    display: flex;
    align-items: center;
    justify-content: center;

    slot::slotted(*) {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
      color: v(color-neutral-400);

      p4-icon {
        --color: v(color-neutral-400);
      }
    }

    &.start {
      padding-left: v(space-3_5);
    }

    &.end {
      padding-right: v(space-3_5);
    }
  }


  .input-actions {
    line-height: 0;
    display: flex;

    .action-button {
      position: relative;
      border: none;
      box-shadow: none;
      background: v(color-neutral-100);
      padding: 0 v(space-3_5) 0 v(space-3_5);
      margin: 0;
      border-radius: 0;
      line-height: 0;
      border-left: 1px solid v(border-color);
      cursor: pointer;

      .action-icon {
        padding-bottom: 0;
        --color: v(color-neutral-600);
      }

      &:not(.action-button-disabled):focus {
        outline: none;
        background: v(color-neutral-300);

        .action-icon {
          --color: v(color-neutral-800);
        }
      }

      &:not(.action-button-disabled):active {
        background: v(color-primary-500);

        .action-icon {
          --color: v(color-shades-white);
        }
      }

      &.action-button-disabled {
        cursor: not-allowed;

        .action-icon {
          --color: v(color-neutral-300);
        }
      }
    }

  }

  &.start-slot-has-content {
    .native-input, .display-value {
      padding-left: v(space-2);
    }
  }

  &.input-has-actions, &.end-slot-has-content {
    .native-input, .display-value {
      padding-right: v(space-2);
    }
  }

  &:not(.start-slot-has-content) {
    .slot-container.start {
      display: none;
    }
  }

  &:not(.end-slot-has-content) {
    .slot-container.end {
      display: none;
    }
  }

  /**
  * SIZES
  */
  &.input-size-lg {
    .native-input, .display-value {
      height: 3.25rem;
      @include font-variant(p2);
      padding-top: v(space-3_5);
      padding-bottom: v(space-3_5);
    }
  }

  &.input-size-md {
    .native-input, .display-value {
      height: v(space-11);
      @include font-variant(p1);
      padding-top: v(space-3);
      padding-bottom: v(space-3);
    }
  }

  &.input-size-sm {
    .native-input, .display-value {
      height: v(space-9);
      @include font-variant(p1);
      padding-top: v(space-2_5);
      padding-bottom: v(space-2_5);
    }
  }

  &.input-disabled {
    background-color: v(color-neutral-100);
    cursor: not-allowed;
    opacity: 1;

    .native-input, .display-value {
      color: v(color-neutral-400);
    }
  }

}

:host([focused]) {
  .input:not(.input-disabled) {
    border-color: v(color-primary-500);
    @include focus-ring;
  }

  &:host(.success) {
    .input:not(.input-disabled) {
      box-shadow: 0 0 0 0.25rem rgba(#10b981, 25%);
    }
  }

  &:host(.error) {
    .input:not(.input-disabled) {
      box-shadow: 0 0 0 0.25rem rgba(#ef4444, 25%);
    }
  }
}

:host(.success) {
  .input:not(.input-disabled) {
    border-color: v(color-success-500);
  }
}

:host(.error) {
  .input:not(.input-disabled) {
    border-color: v(color-error-500);
  }
}


