@import "commons";

:host {
  display: block;
  padding-bottom: var(--space-3);
  --input-border-radius: var(--border-radius);
}

.input {

  position: relative;
  display: flex;
  box-sizing: border-box;

  background-color: var(--color-shades-white);
  border: 1px solid var(--border-color);
  border-radius: var(--input-border-radius);
  overflow: hidden;
  cursor: text;
  align-items: stretch;
  justify-content: center;


  .native-input, .display-value {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    width: 100%;
    cursor: inherit;

    &::placeholder {
      color: var(--color-neutral-400);
    }
  }

  &.input-has-actions {
    .native-input, .display-value {
      padding-right: var(--space-2);
    }
  }


  .input-actions {
    line-height: 0;
    display: flex;

    .action-button {
      position: relative;
      border: none;
      box-shadow: none;
      background: var(--color-neutral-100);
      padding: 0 var(--space-3_5) 0 var(--space-3_5);
      margin: 0;
      border-radius: 0;
      line-height: 0;
      border-left: 1px solid var(--border-color);
      cursor: pointer;

      .action-icon {
        padding-bottom: 0;
        --color: var(--color-neutral-600);
      }

      &:focus {
        outline: none;
        background: var(--color-neutral-300);

        .action-icon {
          --color: var(--color-neutral-800);
        }
      }

      &:not(.action-button-disabled):active {
        background: var(--color-primary-500);

        .action-icon {
          --color: var(--color-shades-white);
        }
      }

      &.action-button-disabled {
        cursor: not-allowed;

        .action-icon {
          --color: var(--color-neutral-300);
        }
      }
    }


  }

  /**
  * SIZES
  */
  &.input-size-lg {
    .native-input, .display-value {
      height: 3.25rem;
      @include font-p2;
      padding-top: var(--space-3_5);
      padding-bottom: var(--space-3_5);
    }
  }

  &.input-size-md {
    .native-input, .display-value {
      height: var(--space-11);
      @include font-p1;
      padding-top: var(--space-3);
      padding-bottom: var(--space-3);
    }
  }

  &.input-size-sm {
    .native-input, .display-value {
      height: var(--space-9);
      @include font-p1;
      padding-top: var(--space-2_5);
      padding-bottom: var(--space-2_5);
    }
  }


  /**
  * VARIANTS
  */
  &.input-variant-dashed {
    border-style: dashed;
  }

  &.input-disabled {
    background-color: var(--color-neutral-100);
    cursor: not-allowed;
    opacity: 1;

    .native-input, .display-value {
      color: var(--color-neutral-400);
    }
  }

}

:host(.has-focus) {
  .input {
    outline: 0;

    &:not(.input-disabled) {
      border-color: var(--color-primary-300);
      box-shadow: -1px 0px 0px var(--color-neutral-300);
    }
  }
}

:host(.danger) {
  .input {
    border-color: var(--color-error-500);
    &:focus:not(.input-disabled):not(.input-variant-no-border) {
      box-shadow: -1px 0px 0px var(--color-error-700);
    }
  }
}
