@import "../../../styles/scss/commons";

:host {
  display: block;
  margin-bottom: v(--space-3);
}

p {
  margin: 0;
}

:host([size="xl"]) {
  p {
    @include font-style(text-xl);
  }
}

:host([size="lg"]) {
  p {
    @include font-style(text-lg);
  }
}

:host([size="md"]) {
  p {
    @include font-style(text-md);
  }
}

:host([size="sm"]) {
  p {
    @include font-style(text-sm);
  }
}

:host([size="xs"]) {
  p {
    @include font-style(text-xs);
  }
}





