---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<goat-text type='body'>Fancy larger or smaller input? Add size attribute for additional sizes.</goat-text>

<HighlighterCard lang={'html'}>

    <goat-number size='sm' label='Slots'>
      <div slot='start'>
        <goat-icon slot='start' name='currency--dollar' size='1rem'></goat-icon>
      </div>
      <a slot='end' href='#'>
        <goat-icon name='launch'></goat-icon>
      </a>
    </goat-number>

</HighlighterCard>
