---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
  <div class='component-container'>
    <goat-button kind='default'>Default long button</goat-button>
  </div>
  <div class='component-container'>
    <goat-button kind='simple'>Simple text button</goat-button>
  </div>
  <div class='component-container'>
    
  </div>
</HighlighterCard>
