@import "../../styles/scss/commons";

:host {
  display: inline-block;
}

.dropdown {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);

  .dropdown-button {
    border: none;
    background: none;
    height: 100%;
    width: 100%;
  }

  .dropdown-result {
    position: absolute;
    width: max-content;
    line-height: 0;
    z-index: 1000;
  }

  slot::slotted(*) {
    @include font-p1;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    color: var(--color-neutral-400);

    p4-icon {
      --color: var(--color-neutral-400);
    }
  }

  &.bottom-left .dropdown-result {
    top: calc(100% + var(--space-1));
    left: 0;
  }

  &.bottom-right .dropdown-result {
    top: calc(100% + var(--space-1));
    right: 0;
  }

  &.top-left .dropdown-result {
    bottom: calc(100% + var(--space-1));
    left: 0;
  }

  &.top-right .dropdown-result {
    bottom: calc(100% + var(--space-1));
    right: 0;
  }

}

:host([focused]) {
  .dropdown {
    .dropdown-button {
      @include focus-ring;
    }
  }
}
