<goat-text expressive>
  There are two body styles for productive and expressive moments. Productive styles have a suffix of `-01` and expressive styles have a suffix of `-02`.
</goat-text>

{% GoatHighlighterCard language:"html" %}
<goat-text type="body-compact">
  This is for short paragraphs with no more than four lines and is commonly used in components.
</goat-text>

<br/>

<goat-text type="body-compact" expressive>
  This is for short paragraphs with no more than four lines. Use in expressive components, such as button and link.
</goat-text>

<br/>

<goat-text type="body">
  With a slightly taller line height than body-compact-01, this body style is used in productive layouts for long paragraphs with more than four lines. Use also for longer body copy in components such as accordion or structured list. It is always left-aligned. Body-long-01 can also be used for productive moments within expressive experiences.
</goat-text>

<br/>

<goat-text type="body" expressive>
  With a slightly taller line height than body-compact-02, this style is commonly used in expressive layouts for long paragraphs with four lines or more. It is always left-aligned.
</goat-text>

{% endGoatHighlighterCard %}
