<goat-text expressive>
  The utility styles are used with productive and expressive moments and include styles for code snippets, labels for captions and helper text, as well as legal copy.
  Productive styles have a suffix of `-01` and expressive styles have a suffix of `-02`.
</goat-text>

{% GoatHighlighterCard language:"html" %}
<goat-text type="code">
  This is for inline code snippets and smaller code elements.
</goat-text>
<goat-text type="code" expressive>
  This is for large code snippets and larger code elements.
</goat-text>

<br/>

<goat-text type="label">
  This is a multipurpose type style that can be used for field labels in components, error messages, and captions. It should not be used for body copy.
</goat-text>

<goat-text type="label" expressive>
  This is a multipurpose type style that can be used for field labels in components, error messages, and captions. It should not be used for body copy.
</goat-text>

<br/>

<goat-text type="helper-text">
  This is for explanatory helper text that appears below a field title within a component.
</goat-text>
<goat-text type="helper-text" expressive>
  This is for explanatory helper text that appears below a field title within a component.
</goat-text>

<br/>

<goat-text type="legal">
  This is for legal copy appearing in product pages.
</goat-text>
<goat-text type="legal" expressive>
  This is for legal copy appearing in web pages.
</goat-text>

{% endGoatHighlighterCard %}
