---
---

<goat-menu-item value='cut'>
  Cut
  <span slot='end'>⌘X</span>
</goat-menu-item>
<goat-menu-item value='copy'>
  Copy
  <span slot='end'>⌘C</span>
</goat-menu-item>
<goat-menu-item value='paste'>
  Paste
  <span slot='end'>⌘X</span>
</goat-menu-item>
<goat-menu-divider></goat-menu-divider>
<goat-menu-item value='bold' selected='true'>
  Bold
</goat-menu-item>
<goat-menu-item value='italic'>
  Italic
</goat-menu-item>
<goat-menu-divider></goat-menu-divider>
<goat-menu-item value='delete' color='danger'>
  Delete
  <goat-icon name='delete' slot='end'></goat-icon>
</goat-menu-item>
