---
import Highlighter from '../../../../components/Highlighter.astro';
import MenuItems from './dropdown-menu.astro';
---
<goat-text type='body'>
  The dropdown can be positioned relative to the trigger element. Possible positions are: <code class='language-html'>top-start</code>,
  <code class='language-html'>top-end</code>,
  <code class='language-html'>bottom-end</code>, <code class='language-html'>bottom-start</code>.
</goat-text>
<goat-text type='body'>
  You can also use the <code class='language-html'>positions</code> attribute to set all preferred position of the
  dropdown. On scroll, the dropdown will be repositioned to the
  closest position.
</goat-text>

<goat-card>
  <goat-card-content>
    <div class='component-container'>
      <goat-dropdown id='dropdown' item-variant='icon' placements='bottom-start,top-start'>
        <goat-button icon='home' variant='outline'>Open</goat-button>

        <MenuItems/>
      </goat-dropdown>

      <goat-dropdown id='dropdown' item-variant='icon' placements='top-end,bottom-end'>
        <goat-button icon='trash-can' color='danger' aria-label='Trash Can'></goat-button>

        <MenuItems/>
      </goat-dropdown>
    </div>
  </goat-card-content>
  <goat-card-content class='no-padding'>
    <Highlighter lang='html'>
      <goat-dropdown id='dropdown' item-variant='icon' placements='top-start,bottom-start'>
        <goat-button icon='home' variant='outline'>Open</goat-button>
        <goat-dropdown-menu>...</goat-dropdown-menu>
      </goat-dropdown>

      <goat-dropdown id='dropdown' item-variant='icon' placements='top-end,bottom-end'>
        <goat-button icon='trash-can' color='danger' aria-label='Trash Can'></goat-button>
        <goat-dropdown-menu>...</goat-dropdown-menu>
      </goat-dropdown>

    </Highlighter>
  </goat-card-content>
</goat-card>
