---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import MenuItems from './menu-items.astro';
---

<HighlighterCard lang='html'>
  <goat-dropdown>
    <goat-button icon='overflow-menu--vertical'></goat-button>

    <div slot='dropdown-menu'>
      <MenuItems/>
    </div>
  </goat-dropdown>
</HighlighterCard>

<HighlighterCard lang='html'>
  <goat-dropdown id='dropdown' placements='bottom-end'>
    <goat-button color='secondary' variant='ghost' icon='overflow-menu--vertical'></goat-button>

    <div slot='dropdown-menu'>
      <MenuItems/>
    </div>
  </goat-dropdown>
</HighlighterCard>

