@import "../../theme/variables";

:host {
  display: inline-block;
}


.spinner-component {


  &.variant-default {
    color: $color-black;
  }

  &.variant-primary {
    color: $color-primary;
  }

  &.variant-danger {
    color: $color-red-6;
  }

  &.variant-success {
    color: $color-green-6;
  }

}
