@import "../../styles/scss/commons";

:host {
  display: inline-block;
  --color: #{v(color-primary-500)};

  .spinner path {
    fill: var(--color);
  }
}

.spinner {
  line-height: 0;
}

:host(.primary) {
  .spinner path {
    fill: v(color-primary-500);
  }
}

:host(.secondary) {
  .spinner path {
    fill: v(color-secondary-500);
  }
}

:host(.error) {
  .spinner path {
    fill: v(color-error-500);
  }
}

:host(.success) {
  .spinner path {
    fill: v(color-success-500);
  }
}

