@import "../../styles/scss/variables";

:host {
  display: inline-block;
  --color: var(--color-primary-500);

  .spinner path {
    fill: var(--color);
  }
}

.spinner {
  line-height: 0;
}

:host(.primary) {
  .spinner path {
    fill: var(--color-primary-500);
  }
}

:host(.secondary) {
  .spinner path {
    fill: var(--color-secondary-500);
  }
}

:host(.error) {
  .spinner path {
    fill: var(--color-error-500);
  }
}

:host(.success) {
  .spinner path {
    fill: var(--color-success-500);
  }
}

