---
import Highlighter from '../../../../components/Highlighter.astro';
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<style is:inline>

  .demo-container .demo-area-inner {
    position: relative;
  }
  .demo-container .application {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .demo-container .application::before {
    content: 'application container';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  .demo-container .sub-container {
    position: relative;
    height: 13rem;
    border: 1px dashed var(--border-color);
    width: 40rem;
    padding: 1rem;
  }

  .demo-container .sub-container::before {
    content: 'sub container';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--layer-01);
  }

  #clear-btn {
    margin-top: 3rem;
  }
</style>



<HighlighterCard lang='html' cssClasses='demo-container'>

  <goat-button id='clear-btn'>Clear</goat-button>

  <div class='application'>
    <goat-notification-manager name='application-manager' position='bottom-right'></goat-notification-manager>

    <div class='sub-container'>

      <goat-notification-manager name='sub-container-manager' position='top-right'></goat-notification-manager>
      <goat-button id='notification-btn'>Notification</goat-button>
      <br /><br />
      <goat-button id='notification-btn-dismissible'>Dismissible notification</goat-button>
    </div>
  </div>

  <script is:inline>
    let count = 1;
    let notifications = [];
    document.getElementById('notification-btn').addEventListener('click', () => {
      window.dispatchEvent(
        new CustomEvent('goat-notification', {
          bubbles: true,
          detail: {
            target: 'application-manager',
            title: 'This is automatic closing notification ' + count++,
            state: 'success',
            subtitle: `This is a subtitle for the notification message ${count - 1}`,
            callback: function(notificationId) {
              notifications.push(notificationId);
            }
          },
        }),
      );
    });

    document.getElementById('clear-btn').addEventListener('click', () => {
      window.dispatchEvent(
        new CustomEvent('goat-notification-dismiss', {
          bubbles: true,
          detail: {
            target: 'application-manager',
            notifications: notifications,
          },
        }),
      );

      notifications = [];
    });

    document.getElementById('notification-btn-dismissible').addEventListener('click', () => {
      window.dispatchEvent(
        new CustomEvent('goat-notification', {
          bubbles: true,
          detail: {
            target: 'sub-container-manager',
            title: 'This is dismissible notification ' + count++,
            state: 'warning',
            dismissible: true,
            subtitle: `This is a subtitle for the notification message ${count - 1}`,
            action: 'Action',
          },
        }),
      );
    });
  </script>
</HighlighterCard>
