---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import HeaderContent from './header-content.astro';
---

<style is:inline>
  .sample-modal {
    color: var(--color-gray-100);
  }

  .modal-demo-container .demo-area {
    background: var(--layer-01)
  }
</style>
<HighlighterCard lang={'html'} cssClasses='modal-demo-container'>

  <div class='component-container'>
    <goat-header class='sample-modal'>
      <div slot='left'>Left Section</div>
      <div slot='center'>Center Section</div>
      <div slot='right'>Right Section</div>
    </goat-header>
  </div>

  <div class='component-container'>
    <goat-header>
      <div slot='left'>
        <goat-header-action icon='menu' href='#'></goat-header-action>
        <goat-header-brand logo='/assets/img/logo.svg' href='#' name='Goat' sub-title='Subtitle'></goat-header-brand>
      </div>
      <HeaderContent />
    </goat-header>
  </div>

  <div class='component-container'>
    <goat-header float>
      <div slot='left'>
        <goat-header-action icon='menu' href='#'></goat-header-action>
        <goat-header-brand logo='/assets/img/logo.svg' href='#' name='Goat' sub-title='Subtitle'></goat-header-brand>
      </div>

      <HeaderContent />
    </goat-header>
  </div>
</HighlighterCard>
