@import "../../../styles/scss/commons";


:host {
  display: inline-block;
}

.link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  text-decoration: none;

  @include text-color(inherit);
  background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px), linear-gradient(transparent calc(100% - 1px), rgb(0, 0, 0) 1px);
}

/**
  * Variants
  */
@mixin linkVariant($color) {

  @include text-color(v(--color-#{$color}-500));

  &:hover {
    @include text-color(v(--color-#{$color}-700));
    background-image: linear-gradient(transparent calc(100% - 1px), v(--color-#{$color}-700) 1px), linear-gradient(transparent calc(100% - 1px), rgb(0, 0, 0) 1px);
  }


  &.active {
    @include text-color(v(--color-#{$color}-900));
    background-image: linear-gradient(transparent calc(100% - 1px), v(--color-#{$color}-900) 1px), linear-gradient(transparent calc(100% - 1px), rgb(0, 0, 0) 1px);
  }

}

@each $color in [primary, info, success, warning, error] {
  .link.color-#{$color} {
    @include linkVariant($color);
  }
}


:host([decoration="false"]) .link {
  background-image: none !important;

  &:hover {
    background-image: none !important;
  }

  .link.active {
    background-image: none !important;
  }
}


.link.has-focus:not(.active) {
  @include focus-ring();
}
