@import "../../../styles/scss/commons";


:host {
  display: inline-block;
}

.link {

  border-radius: v(--border-radius);
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  text-decoration: var(--link-decoration, none);

  &:not(.inline) {
    //noinspection CssNoGenericFontName
    font-family: v(--font-family-base);
  }

  color: var(--link-color, v(--link-01));

  &:hover {
    color: var(--link-color-hover, v(--hover-primary-text));
    text-decoration: var(--link-decoration-hover, underline);
  }

  &:visited {
    color: var(--link-color-visited, v(--visited-link));
  }

  &.active {
    color: var(--link-color-active, v(--text-01));
  }


}

:host(.no-style) .link {
  color: inherit !important;
  text-decoration: none !important;
}


.link.inline {
  text-decoration: var(--link-decoration, underline);
}

.link.has-focus:not(.active) {
  text-decoration: none;
  @include focus-ring();
}
