@import "../../../styles/scss/commons";

:host {
  display: inline-block;
}

.dropdown {
  position: relative;

  .dropdown-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .dropdown-content {
    z-index: v(--z-index-dropdown-content);
    position: absolute;
    width: max-content;
    line-height: 0;
    transform: scale(0);
    transition: transform 0.1s ease-out 0s;
  }


  &.is-open {
    .dropdown-content {
      transform: scale(1);
    }
  }

  &.bottom-right .dropdown-content {
    top: calc(100% + #{v(--spacing-1)});
    left: 0;
    transform-origin: top;
  }

  &.bottom-left .dropdown-content {
    top: calc(100% + #{v(--spacing-1)});
    right: 0;
    transform-origin: top;
  }

  &.top-right .dropdown-content {
    bottom: calc(100% + #{v(--spacing-1)});
    left: 0;
    transform-origin: bottom;
  }

  &.top-left .dropdown-content {
    bottom: calc(100% + #{v(--spacing-1)});
    right: 0;
    transform-origin: bottom;
  }

  &.center .dropdown-content {
    top: 0;
    left: 0;
    position: fixed;
    transform-origin: center;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

}

:host([has-focus]) {
  .dropdown {
    .dropdown-button {
      @include focus-ring;
    }
  }
}
