@import "../../../styles/scss/commons";

:host {
  display: block;
  margin-bottom: v(--space-3);
}

.alert {
  border-radius: v(--border-radius);
  display: flex;
  padding: 0.625rem 1.125rem;

  .content {
    flex: 1;

    .message {
      @include font-style(text-md);
    }

    .description {
      color: v(--color-grey-600);
      @include font-style(text-sm);
    }
  }

  .close-btn {
    margin: 0;
  }
}


@mixin alertState($color) {
  .alert {
    background-color: v(--color-#{$color}-50);

    .content {
      .message {
        color: v(--color-#{$color}-600);
      }
    }
  }
}

:host([state="info"]) {
  @include alertState(primary);
}

:host([state="success"]) {
  @include alertState(success);
}

:host([state="warning"]) {
  @include alertState(warning);
}


:host([state="error"]) {
  @include alertState(error);
}
