@import "../../../styles/scss/commons";

:host {
  display: inline-block;
  .spinner {
    line-height: 0;
  }
}


:host {
  .spinner path {
    fill: v(--text-01);
  }
}


:host(.inherit) {
  .spinner path {
    fill: currentColor;
  }
}


@keyframes rainbow {
  0%   {fill:v(--color-primary);}
  20%  {fill:v(--color-success);}
  40%  {fill:v(--color-warning);}
  60%  {fill:v(--color-error);}
  80% {fill:v(--color-secondary);}
  100% {fill:v(--color-primary);}
}

:host(.rainbow) .spinner path {
  fill: v(--color-primary-500);
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

