@import "../../../styles/scss/commons";
@import "./goat-checkbox-utils";

:host {
  display: inline-block;
  color: v(--text-color-primary);
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: v(--space-2);

  .input-native {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .box {
    position: relative;
    background: transparent;
    border: 1px solid v(--border-color);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms cubic-bezier(.4, .0, .23, 1);
  }

  &.rounded {
    .box {
      border-radius: 50%;
    }
  }

  .tick {
    position: absolute;
    width: 0;
    height: 0;
  }

  &:hover {
    .box {
      border: 1px solid v(--color-neutral-500);
      background: v(--color-primary-100);
    }
  }

  &.state-intermediate {
    .box {
      background: v(--color-blue-light-500);
    }


    .tick {
      position: absolute;
      width: 67%;
      height: 0;
      margin: auto;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform-origin: 0 100%;

      &.animate {
        animation: checkbox-slash 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
      }

      &:not(.animate) {
        border-color: v(--color-white);
      }
    }

    &:hover .box {
      background: v(--color-blue-light-500);
    }

    &.active .box {
      background: v(--color-blue-light-700);
    }
  }

  &.state-checked {
    .box {
      background: v(--color-primary-500);
    }

    .tick {
      position: absolute;
      width: 33%;
      height: 67%;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform: rotate(45deg);
      transform-origin: 0 100%;

      &.animate {
        animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
      }

      &:not(.animate) {
        border-color: v(--color-white);
        top: -15%;
        left: 15%;
      }
    }

    &:hover .box {
      background: v(--color-primary-600);
    }

    &.active .box {
      background: v(--color-primary-800);
    }
  }


}

/**
 * SIZES
 */
.checkbox.size-sm {

  @include font-style(text-sm);

  .box {
    width: 1.25rem;
    height: 1.25rem;
  }

}

.checkbox.size-md {
  @include font-style(text-md);

  .box {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.checkbox.size-lg {
  @include font-style(text-lg);

  .box {
    width: 1.75rem;
    height: 1.75rem;
  }
}


.checkbox.has-focus:not(.active) {
  .box {
    @include focus-ring;
  }
}


/**
 * States
 */
@each $state in [success, warning, error] {
  :host-context(.input-state-#{$state}) {
    .checkbox .box {
      border-color: v(--color-#{$state}-500);
    }
  }
}

.checkbox.disabled {
  cursor: not-allowed;
  color: v(--color-neutral-400) !important;
  border-color: v(--color-neutral-400) !important;

  .box {
    background: v(--color-neutral-200) !important;
  }

  &:hover {
    .box {
      border: 1px solid v(--border-color);
    }
  }

  .tick {
    border-color: #{v(--color-neutral-400)} !important;
  }

}
