{% GoatHighlighterCard language:"html" %}
<div class='component-container'>
  <goat-button icon="add--large"></goat-button>
  <goat-button icon="add--large">Add</goat-button>

  <goat-button icon="chevron--left" icon-align='start'>Previous</goat-button>
  <goat-button icon="chevron--right">Next</goat-button>
</div>

<div class='component-container'>
  <goat-button icon="save" variant="outline"></goat-button>
  <goat-button icon="save" variant="ghost"></goat-button>
</div>

<div class='component-container'>
  <goat-button icon="save" size='sm'></goat-button>
  <goat-button icon="save" size='md'></goat-button>
  <goat-button icon="save" size='lg'></goat-button>
  <goat-button icon="save" size='xl'></goat-button>
  <goat-button icon="save" size='2xl'></goat-button>
</div>
{% endGoatHighlighterCard %}
