@use "sass:map";
@import 'color';

$others: (
  border-radius: 5px,
  border-color: #cbd5e1, //color-neutral-300
  // tip use against position:relative elements
  z-index-table-header: 100,
  z-index-dropdown-content: 200,
)
