$base-space: 0.125rem;

$spacing: (
  space-0_5: 1 * $base-space,
  space-1:  2 * $base-space,
  space-1_5: 3 * $base-space,
  space-2: 4 * $base-space,
  space-2_5: 5 * $base-space,
  space-3: 6 * $base-space,
  space-3_5: 7 * $base-space,
  space-4: 8 * $base-space,
  space-5: 10 * $base-space,
  space-6: 12 * $base-space,
  space-7: 14 * $base-space,
  space-8: 16 * $base-space,
  space-9: 18 * $base-space,
  space-10: 20 * $base-space,
  space-11: 22 * $base-space,
  space-12: 24 * $base-space,
  space-14: 3.5rem,
  space-16: 4rem,
  space-20: 5rem,
  space-24: 6rem,
  space-28: 7rem,
  space-32: 8rem,
  space-36: 9rem,
  space-40: 10rem,
)
