@use "sass:map";
@import 'color';
@import 'spacing';
@import 'typography';
@import 'shadow';
@import 'others';
@import "../scss/mixins";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

  // each item in color map
  @each $name, $value in $colors {
    --#{$name}: #{$value};
  }
  @each $name, $value in $spacing {
    --#{$name}: #{$value};
  }
  @each $name, $value in $shadows {
    --#{$name}: #{$value};
  }
  @each $name, $value in $typography {
    --#{$name}: #{$value};
  }
  @each $name, $value in $others {
    --#{$name}: #{$value};
  }
}

body {
  font-size: 16px;
}

@each $typography in p1, p2, p3, caption, subheading {
  .#{$typography} {
    @include font-variant($typography)
  }
  .#{$typography}-semi-bold {
    @include font-variant($typography);
    font-weight: var(--font-weight-semi-bold);
  }
}

@each $heading in h1, h2, h3, h4, h5, h6 {
  .#{$heading} {
    @include font-variant($heading);
    font-weight: var(--font-weight-semi-bold);
  }
  .#{$heading}-bold {
    @include font-variant($heading);
    font-weight: var(--font-weight-bold);
  }

  .#{$heading}-extra-bold {
    @include font-variant($heading);
    font-weight: var(--font-weight-extra-bold);
  }
}


