@import "../../styles/scss/input";

:host {
  display: inline-block;
  --select-max-height: inherit;
}

.select-container {
  position: relative;

  .display-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .dropdown-result {
    z-index: v(z-index-dropdown-content);
    position: absolute;
    width: max-content;
    line-height: 0;
    transform: scale(0);
    transition: transform 0.1s ease-out 0s;
    .dropdown-list {
      --list-max-height: var(--select-max-height);
    }
  }

  &.is-open {
    .dropdown-result {
      transform: scale(1);
    }
  }

  .input .input-actions {
    .action-button.mode-button {
      .clear-icon {
        --color: #{v(color-error-700)};
        display: none;
      }
    }
  }


  &.bottom-left .dropdown-result {
    top: calc(100% + #{v(space-1)});
    left: 0;
    transform-origin: center top;
  }

  &.bottom-right .dropdown-result {
    top: calc(100% + #{v(space-1)});
    right: 0;
    transform-origin: center top;
  }

  &.top-left .dropdown-result {
    bottom: calc(100% + #{v(space-1)});
    left: 0;
    transform-origin: center bottom;
  }

  &.top-right .dropdown-result {
    bottom: calc(100% + #{v(space-1)});
    right: 0;
    transform-origin: center bottom;
  }

  .search-loader {
    display: flex;
    align-items: center;
  }

}

:host([clear-input][has-value]) {
  .input .input-actions {
    .action-button.mode-button:hover, .action-button.mode-button:focus {
      .mode-icon {
        display: none;
      }

      .clear-icon {
        display: block !important;
      }
    }
  }
}
