@import "../../styles/input";


.select-component {

  .native-input {
    display: none;
  }

  &.mode-edit.type-typeahead {
    .select-selection-item {
      display: none;
    }
    .native-input {
      display: block;
    }
  }

  &.type-menu {
    .display-value {
      color: $color-gray-10;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .input-actions {
    .btn-action:hover {
      cursor: pointer;
    }
  }


  .select-result {
    position: absolute;
    top: 110%;
    width: 100%;
    left: 0;
    padding: 0.2rem 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
    transition: background 1s cubic-bezier(.075, .82, .165, 1);

    .select-option {
      padding: .25rem .75rem;
      cursor: pointer;

      &.select-option-active {
        background-color: $color-gray-2;
      }
    }
  }

  .no-data {
    text-align: center;
    color: $color-gray-8;
    padding: 15px;

    p4-icon {
      max-height: 4em;
      max-width: 4em;
    }

    .no-data-text {
      font-size: 1.2em;
    }
  }

  /**
   * SIZES
   */
  &.size-lg {
    height: 2.75rem;

    .display-value {
      line-height: 2;
    }
  }

  &.size-md {
    height: 2rem;
  }

  &.size-sm {
    height: 1.5rem;

    .display-value {
      line-height: 1;
    }
  }

}

:host(.has-value) {
  .display-value {
    color: $color-gray-10;
  }
}
