@import "../../styles/scss/input";

.select-container {
  position: relative;

  .display-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .select-options {
    position: absolute;
    width: max-content;
    line-height: 0;
    top: calc(100% + var(--space-1));
    left: 0;
    z-index: 1000;
  }

  .dropdown-result {
    position: absolute;
    width: max-content;
    line-height: 0;
    z-index: 1000;
  }

  .input .input-actions {
    .action-button.mode-button {
      .clear-icon {
        --color: var(--color-error-700);
        display: none;
      }
    }
  }


  &.bottom-left .dropdown-result {
    top: calc(100% + var(--space-1));
    left: 0;
  }

  &.bottom-right .dropdown-result {
    top: calc(100% + var(--space-1));
    right: 0;
  }

  &.top-left .dropdown-result {
    bottom: calc(100% + var(--space-1));
    left: 0;
  }

  &.top-right .dropdown-result {
    bottom: calc(100% + var(--space-1));
    right: 0;
  }

  .search-loader {
    display: flex;
    align-items: center;
  }

}

:host([clear-input][has-value]) {
  .input .input-actions {
    .action-button.mode-button:hover, .action-button.mode-button:focus {
      .mode-icon {
        display: none;
      }

      .clear-icon {
        display: block !important;
      }
    }
  }
}
