@use "sass:map";
@import "../../globalStyles/commons";

:host {
  display: block;
  margin-bottom: v(--spacing-3);
  --input-border-radius: #{v(--border-radius)};
  --input-border-style: solid;
  color: v(--text-primary);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: v(--field-01);
  border: 1px var(--input-border-style) v(--ui-04);
  border-radius: var(--input-border-radius);
  overflow: hidden;
  cursor: text;
  font-weight: var(--font-weight-regular);
  gap: v(--spacing-2);

  .input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    cursor: inherit;
    padding: 0;
    color: v(--text-primary);

    &::placeholder {
      color: v(--text-placeholder);
    }
  }

  .slot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    slot::slotted(*) {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
      color: v(--color-neutral-400);

      goat-icon {
        --color: #{v(--color-neutral-400)};
      }
    }

  }

  &.start-slot-has-content {
    .input {
      padding-left: v(--spacing-2);
    }
  }

  &.end-slot-has-content {
    .input {
      padding-right: v(--spacing-2);
    }
  }

  &:not(.start-slot-has-content) {
    .slot-container.start {
      display: none;
    }
  }

  &:not(.end-slot-has-content) {
    .slot-container.end {
      display: none;
    }
  }

  .input-action {
    cursor: pointer;

    &:hover {
      --text-color: var(--text-secondary);
    }
  }
}

:host(.light) .input-container {
  background-color: v(--field-02);
}


/**
 * States
 */
.input-container.has-focus {
  @include focus-ring;
  border-color: transparent;
}

@each $state in [success, warning, error] {
  :host-context(.input-state-#{$state}) {
    .input-container {
      border-color: v(--support-#{$state});

      &.has-focus {
        @include focus-ring(v(--support-#{$state}));
      }
    }
  }
}


/**
 * Sizes
 */
:host([size="sm"]) .input-container {
  padding: 0.5rem 0.75rem;
  min-height: 2.375rem;

  .input {
    @include font-style(text-sm);
  }

  slot::slotted(*) {
    @include font-style(text-sm);
  }
}

:host([size="md"]) .input-container {
  padding: 0.625rem 0.875rem;
  min-height: 2.875rem;

  .input {
    @include font-style(text-md);
  }

  slot::slotted(*) {
    @include font-style(text-md);
  }
}

:host([size="lg"]) .input-container {
  padding: 0.75rem 1rem;
  min-height: 3.375rem;
  .input {
    @include font-style(text-lg);
  }

  slot::slotted(*) {
    @include font-style(text-lg);
  }
}


:host([success]) {
  .input-container {
    border-color: v(--color-success);
  }
}

:host([error]) {
  .input-container {
    border-color: v(--color-error);
    box-shadow: 0 0 0 0.25rem rgba(#ef4444, 25%);
  }
}

:host([readonly]) {
  .input-container {
    cursor: initial;
    background-color: v(--disabled-01) !important;
    border-color: v(--disabled-01) !important;
    opacity: 1 !important;
  }
}

:host([disabled]) {
  .input-container {
    cursor: not-allowed;
    background-color: v(--disabled-01) !important;
    border-color: v(--disabled-01) !important;
    opacity: 1 !important;

    .input {
      color: v(--text-disabled) !important;
    }
  }

  color: v(--text-disabled) !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
