@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100,0,300,0,400,0,500,0,700,0,900,1,100,1,300,1,400,1,500,1,700,1,900&display=swap");
:root {
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-neutral-500: #64748b;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1e293b;
  --color-neutral-900: #0f172a;
  --color-primary-50: #e8edfb;
  --color-primary-100: #bbcaf3;
  --color-primary-200: #8ea7ec;
  --color-primary-300: #6183e4;
  --color-primary-400: #3460dc;
  --color-primary-500: #1d4ed8;
  --color-primary-600: #173ead;
  --color-primary-700: #112f82;
  --color-primary-800: #0c1f56;
  --color-primary-900: #06102b;
  --color-secondary-50: #fefaed;
  --color-secondary-100: #fdf0c8;
  --color-secondary-200: #fbe7a3;
  --color-secondary-300: #f9dd7e;
  --color-secondary-500: #f7ce46;
  --color-secondary-600: #c6a538;
  --color-secondary-700: #947c2a;
  --color-secondary-800: #63521c;
  --color-secondary-900: #31290e;
  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;
  --color-shades-white: #ffffff;
  --color-shades-black: #000000;
  --color-dark-mode-50: #5f626b;
  --color-dark-mode-100: #555962;
  --color-dark-mode-200: #4c4f59;
  --color-dark-mode-300: #424651;
  --color-dark-mode-400: #424651;
  --color-dark-mode-500: #393d48;
  --color-dark-mode-600: #2f343f;
  --color-dark-mode-700: #262a36;
  --color-dark-mode-800: #1c212e;
  --color-dark-mode-900: #131825;
  --space-0_5: 0.125rem;
  --space-1: 0.25rem;
  --space-1_5: 0.375rem;
  --space-2: 0.5rem;
  --space-2_5: 0.625rem;
  --space-3: 0.75rem;
  --space-3_5: 0.875rem;
  --space-4: 1rem;
  --space-4_5: 1.275rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;
  --space-14: 3.5rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-28: 7rem;
  --space-32: 8rem;
  --space-36: 9rem;
  --space-40: 10rem;
  --shadow-xs: 0 4px 8px rgba(0, 0, 0, 0.08);
  --shadow-sm: 0 6px 12px rgba(0, 0, 0, 0.11);
  --shadow-md: 0 9px 18px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 13px 37px rgba(0, 0, 0, 0.21);
  --shadow-xl: 0 20px 56px rgba(0, 0, 0, 0.29);
  --font-family: Roboto, sans-serif;
  --font-family-paragraph: Roboto, sans-serif;
  --font-weight-regular: normal;
  --font-weight-semi-bold: 600;
  --font-weight-bold: bold;
  --font-weight-extra-bold: 800;
  --font-size-caption: 0.75rem;
  --line-height-caption: 1.125rem;
  --font-size-p1: 0.875rem;
  --line-height-p1: 1.0625rem;
  --font-size-p2: 1rem;
  --line-height-p2: 1.5rem;
  --font-size-p3: 1.125rem;
  --line-height-p3: 1.375rem;
  --font-size-subheading: 20px;
  --line-height-subheading: 28px;
  --font-size-h1: 48px;
  --line-height-h1: 56px;
  --font-size-h2: 39px;
  --line-height-h2: 47px;
  --font-size-h3: 33px;
  --line-height-h3: 40px;
  --font-size-h4: 28px;
  --line-height-h4: 34px;
  --font-size-h5: 23px;
  --line-height-h5: 28px;
  --font-size-h6: 19px;
  --line-height-h6: 23px;
  --border-radius: 5px;
  --border-color: #f9dd7e;
  --z-index-table-header: 100;
  --z-index-dropdown-content: 200;
}

body {
  font-size: 16px;
}

.p1 {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-p1, 0.875rem);
  line-height: var(--line-height-p1, 1.0625rem);
  letter-spacing: -0.04em;
}

.p1-semi-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-p1, 0.875rem);
  line-height: var(--line-height-p1, 1.0625rem);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.p2 {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-p2, 1rem);
  line-height: var(--line-height-p2, 1.5rem);
  letter-spacing: -0.04em;
}

.p2-semi-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-p2, 1rem);
  line-height: var(--line-height-p2, 1.5rem);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.p3 {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-p3, 1.125rem);
  line-height: var(--line-height-p3, 1.375rem);
  letter-spacing: -0.04em;
}

.p3-semi-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-p3, 1.125rem);
  line-height: var(--line-height-p3, 1.375rem);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.caption {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-caption, 0.75rem);
  line-height: var(--line-height-caption, 1.125rem);
  letter-spacing: -0.04em;
}

.caption-semi-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-caption, 0.75rem);
  line-height: var(--line-height-caption, 1.125rem);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.subheading {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-subheading, 20px);
  line-height: var(--line-height-subheading, 28px);
  letter-spacing: -0.04em;
}

.subheading-semi-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-subheading, 20px);
  line-height: var(--line-height-subheading, 28px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.h1 {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h1, 48px);
  line-height: var(--line-height-h1, 56px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.h1-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h1, 48px);
  line-height: var(--line-height-h1, 56px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-bold);
}

.h1-extra-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h1, 48px);
  line-height: var(--line-height-h1, 56px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-extra-bold);
}

.h2 {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h2, 39px);
  line-height: var(--line-height-h2, 47px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.h2-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h2, 39px);
  line-height: var(--line-height-h2, 47px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-bold);
}

.h2-extra-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h2, 39px);
  line-height: var(--line-height-h2, 47px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-extra-bold);
}

.h3 {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h3, 33px);
  line-height: var(--line-height-h3, 40px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.h3-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h3, 33px);
  line-height: var(--line-height-h3, 40px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-bold);
}

.h3-extra-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h3, 33px);
  line-height: var(--line-height-h3, 40px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-extra-bold);
}

.h4 {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h4, 28px);
  line-height: var(--line-height-h4, 34px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.h4-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h4, 28px);
  line-height: var(--line-height-h4, 34px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-bold);
}

.h4-extra-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h4, 28px);
  line-height: var(--line-height-h4, 34px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-extra-bold);
}

.h5 {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h5, 23px);
  line-height: var(--line-height-h5, 28px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-semi-bold);
}

.h5-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h5, 23px);
  line-height: var(--line-height-h5, 28px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-bold);
}

.h5-extra-bold {
  font-family: var(--font-family-paragraph, "Roboto", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-h5, 23px);
  line-height: var(--line-height-h5, 28px);
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-extra-bold);
}
/*# sourceMappingURL=theme.css.map */
