@import "../../styles/input";


.textarea-component {

  textarea.native-input {
    font-family: $font-normal;
    resize: vertical;
  }

  .input-actions {
    position: absolute;
    right: 0;
    top: 0;
    height: 2rem;
  }

}
