@import "./theme/css-variables";
@import "mixins";

* {
  box-sizing: border-box;
}

:host {
  font-family: var(--font-family-base);
}

::selection {
  color: v(--color-white);
  background: v(--color-primary);
}

/* width */
::-webkit-scrollbar {
  width: v(--scrollbar-width);
  height: v(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  :hover {
    background: #555;
  }
}

:host, :host(.layer-background) {
  --field: #{v(--field-01)};
  --layer: #{v(--layer-01)};
  --layer-hover: #{v(--layer-hover-01)};
  --layer-selected: #{v(--layer-selected-01)};
  --layer-selected-hover: #{v(--layer-selected-hover-01)};

  --field-hover: #{v(--field-hover-01)};
  --border-strong: #{v(--border-strong-01)};
  --border-subtle: #{v(--border-subtle-00)};

}

:host(.layer-01) {
  --field: #{v(--field-02)};
  --layer: #{v(--layer-02)};
  --layer-hover: #{v(--layer-hover-02)};
  --layer-selected: #{v(--layer-selected-02)};
  --layer-selected-hover: #{v(--layer-selected-hover-02)};

  --field-hover: #{v(--field-hover-02)};
  --border-strong: #{v(--border-strong-02)};
  --border-subtle: #{v(--border-subtle-01)};
}

:host(.layer-02) {
  --field: #{v(--field-03)};
  --layer: #{v(--layer-03)};
  --layer-hover: #{v(--layer-hover-03)};
  --layer-selected: #{v(--layer-selected-03)};
  --layer-selected-hover: #{v(--layer-selected-hover-03)};

  --field-hover: #{v(--field-hover-03)};
  --border-strong: #{v(--border-strong-03)};
  --border-subtle: #{v(--border-subtle-02)};
}

.skeleton {
  position: relative;
  padding: 0;
  border: none;
  background: v(--skeleton-background);
  box-shadow: none;
  pointer-events: none;

  &::before {
    position: absolute;
    -webkit-animation: 3000ms ease-in-out skeleton infinite;
    animation: 3000ms ease-in-out skeleton infinite;
    background: v(--skeleton-element);
    block-size: 100%;
    content: "";
    inline-size: 100%;
    will-change: transform-origin, transform, opacity;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host([hidden]) {
  display: none;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(8px)
  }
}

@keyframes skeleton {
  0% {
    opacity: .3;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left
  }

  20% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left
  }

  28% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right
  }

  51% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right
  }

  58% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right
  }

  82% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right
  }

  83% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left
  }

  96% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left
  }

  100% {
    opacity: .3;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left
  }
}

