@use "sass:map";
@import "functions";

@mixin font-style($type, $var: null) {
  @if $var != null {
    font-family: var(--#{$var}-font-family, var(--#{$type}-font-family));
    font-size:  var(--#{$var}-font-size, var(--#{$type}-font-size));
    font-weight: var(--#{$var}-font-weight, var(--#{$type}-font-weight));
    line-height: var(--#{$var}-line-height, var(--#{$type}-line-height));
    letter-spacing: var(--#{$var}-letter-spacing, var(--#{$type}-letter-spacing));
  } @else {
    font-family: var(--#{$type}-font-family);
    font-size: var(--#{$type}-font-size);
    font-weight: var(--#{$type}-font-weight);
    line-height: var(--#{$type}-line-height);
    letter-spacing: var(--#{$type}-letter-spacing);
  }

}

@mixin focus-ring($color:var(--border-interactive)) {
  outline: 2px solid $color;
}

@mixin for-phone-only {
  @media (max-width: 671px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 672px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 1056px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1312px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1584px) {
    @content;
  }
}
