---
---
<goat-card class={{cssClass}}>
    <goat-card-content class="demo-area">
      {{content}}
    </goat-card-content>
    <goat-card-content class="no-padding code-area">
      <goat-code-highlighter language={{language}} class='demo-html'>
        <pre><code>{{content}}</code></pre>
      </goat-code-highlighter>
    </goat-card-content>
  </goat-card>
