@import "../../../styles/scss/commons";


.heading {
  font-weight: v(--font-weight-semi-bold);
  margin: 0;
}

.paragraph {
  margin: 0;
}

:host([type="heading"]) {
  display: block;
  margin-bottom: v(--space-4);

  &:host([size="xl"]) {
    .heading {
      @include font-style(display-xl);
    }
  }

  &:host([size="lg"]) {
    .heading {
      @include font-style(display-lg);
    }
  }

  &:host([size="md"]) {
    .heading {
      @include font-style(display-md);
    }
  }

  &:host([size="sm"]) {
    .heading {
      @include font-style(display-sm);
    }
  }

  &:host([size="xs"]) {
    .heading {
      @include font-style(display-xs);
    }
  }

}

:host([type="paragraph"]) {
  display: block;
  margin-bottom: v(--space-4);

  &:host([size="xl"]) {
    .paragraph {
      @include font-style(text-xl);
    }
  }

  &:host([size="lg"]) {
    .paragraph {
      @include font-style(text-lg);
    }
  }

  &:host([size="md"]) {
    .paragraph {
      @include font-style(text-md);
    }
  }

  &:host([size="sm"]) {
    .paragraph {
      @include font-style(text-sm);
    }
  }

  &:host([size="xs"]) {
    .paragraph {
      @include font-style(text-xs);
    }
  }

}

:host([type="text"]) {
  display: inline-block;

  &:host([size="xl"]) {
    .text {
      @include font-style(text-xl);
    }
  }

  &:host([size="lg"]) {
    .text {
      @include font-style(text-lg);
    }
  }

  &:host([size="md"]) {
    .text {
      @include font-style(text-md);
    }
  }

  &:host([size="sm"]) {
    .text {
      @include font-style(text-sm);
    }
  }

  &:host([size="xs"]) {
    .text {
      @include font-style(text-xs);
    }
  }

}

@mixin colorType($color) {
  color: v(--color-#{$color}-500);
  &:host([shade="secondary"]) {
    color: v(--color-#{$color}-300);
  }
  &:host([shade="tertiary"]) {
    color: v(--color-#{$color}-200);
  }
}

:host {
  color: var(--text-color, v(--text-color-primary));

  &:host([shade="secondary"]) {
    color: var(--text-color, v(--text-color-secondary));
  }

  &:host([shade="tertiary"]) {
    color: var(--text-color, v(--text-color-tertiary));
  }
}

@each $color in [primary, info, success, warning, error] {
  :host-context(.text-color-#{$color}) {
    @include colorType($color);
  }
}

