@import "../../common-input";



.textarea {
  height: 100%;
  align-items: flex-start;

  .input-native {
    height: 100%;
    min-height: 2.5rem;
    resize: vertical;
    padding: v(--spacing-05);
  }
}

:host([size=md]) .input-container {
  height: 100%;
  min-height: 2.5rem;
}


