@import "../../styles/scss/input";

.textarea {
  height: 100%;

  &.input-size-md .native-input, &.input-size-lg .native-input, &.input-size-sm .native-input {
    height: 100%;
    min-height: 5rem;
    resize: vertical;
  }

  .input-actions {
    position: absolute;
    right: 0;
    top: 0;
    height: 2rem;
    .action-button {
      border-bottom: 1px solid v(border-color);
    }
  }

}
