@import "../../theme/variables";

:host {
  display: block;
}

::selection {
  color: #fff;
  background: #1890ff;
}

* {
  box-sizing: border-box;
}

.textarea-component {
  font-family: $font-normal;

  label {
    width: 100%;
    display: inline-block;
    margin-bottom: $space-2;
  }

  .input-wrapper {
    position: relative;

    .input-clear-icon {
      border: none;
      position: absolute;
      right: 0;
      background: transparent;
      top: 0;
      padding: 0.2em;
      line-height: 0;

      .svg-icon {
        height: 2em;
        width: 2em;
      }
    }
  }

  .native-input {
    box-sizing: border-box;
    padding: 4px 11px;
    resize: vertical;
    min-width: 0;
    margin-bottom: $space-3;

    background-color: $color-white;
    border: 1px solid $color-gray-6;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5715;
    background-image: none;
    border-radius: 2px;
    transition: all 0.3s;
    text-align: start;
    font-weight: 400;
    letter-spacing: normal;
    cursor: text;

    &::placeholder {
      color: #bfbfbf;
    }

    &:hover {
      color: $color-primary;
      border-color: $color-primary;
      border-right-width: 1px !important;
    }

    &:focus,
    &.focused {
      color: $color-primary;
      border-color: $color-primary;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }

    &:after {
      background: $color-indigo-3;
    }

  }

  /**
    * SIZES
    */
  &.size-lg {
    font-size: 16px;
  }

  &.size-md {

    font-size: 15px;
  }

  &.size-sm {
    font-size: 14px;
  }

  /**
   * VARIANTS
   */
  &.variant-dashed {
    .native-input {
      border-style: dashed;
    }
  }

  .native-input {
    &[disabled], &[disabled="true"] {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      cursor: not-allowed;
      opacity: 1;

      &:hover {
        color: $color-gray-5;
        background-color: $color-gray-1;
        border-color: $color-gray-5;
      }
    }
  }

  &.inline {
    display: flex;
    flex-wrap: wrap;
    label {
      width: initial;
      float: left;
      display: block;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .input-wrapper {
      float: left;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
  }

  &.required label:before {
    display: inline-block;
    margin-right: 4px;
    color: $color-red-6;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*"
  }
}

:host(.danger) {
  /* This works */
  .native-input, .native-input:hover {
    border-color: $color-red-6;
  }

  .native-input:focus, .native-input.focused {
    border-color: $color-red-6;
    box-shadow: 0 0 0 2px $color-red-3;
  }
}
