@import "css-variables";
@import "../mixins";

:root {
  font-size: 16px;
  @each $name, $value in $css-variables {
    #{$name}: #{$value};
  }
}

html {
  color: var(--text-primary);
}

p {
  @include font-style(body-02);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.bg-background {
  background: var(--background);
}

.bg-layer-01 {
  background: var(--layer-01);
}

[data-theme="dark"] {
  @each $name, $value in $dark-color-css-variables {
    #{$name}: #{$value};
  }
}
