@import "./editor.main";
@import "../../styles/scss/commons";

:host {
  display: block;
  height: 100%;
}

.code-editor-component {
  height: 100%;

  .editor {
    height: 100%;
    min-height: 2rem;
    border: 1px solid v(border-color);
    border-radius: v(border-radius);
    overflow: hidden;

    &[disabled], &[disabled="true"] {
      color: v(color-neutral-500);
      background-color: v(color-neutral-100);
      border-color: v(color-neutral-500);
      cursor: not-allowed;
    }
  }

  &.disabled {
    .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .view-lines {
      cursor: default;
    }
  }

  &.disabled.vs-light {
    .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin {
      background: v(color-neutral-200);
    }
  }
  &.disabled.vs-dark {
    .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin {
      background: v(color-neutral-800);
    }
  }

}

