@import "../../globalStyles/commons";

:host {
  display: block;
  --container-padding: v(--spacing-09)
}

.container {
  max-width: v(--container-xl);
  margin: auto;
  width: 100%;
  padding: 0 var(--container-padding);
}


@include for-phone-only {
  .container {
    padding: 0 v(--spacing-05);
  }
  :host(.container-code) .container {
    padding: 0;
  }
}
