@import "../../../styles/scss/commons";

:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: v(--space-3);
}

.empty-state {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.illustration {
  max-width: v(--container-space-sm);
  svg {
    width: 100%;
    height: 100%;
  }

  --empty-state-primary: #{v(--color-primary-500)};
  --empty-state-secondary: #{v(--color-primary-800)};

  --empty-state-bg-primary: #{v(--color-neutral-400)};
  --empty-state-bg-secondary: #{v(--color-neutral-200)};
  --empty-state-bg: #{v(--color-white)};
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: v(--space-3);
  text-align: center;
  justify-content: center;

  .title {
    @include font-style(text-md);
    font-weight: v(--font-weight-semi-bold);
    margin-bottom: v(--space-2);
    color: var(--text-color, v(--text-color-primary))
  }

  .description {
    @include font-style(text-sm);
    margin-bottom: v(--space-4);
    color: var(--text-color, v(--text-color-secondary))
  }
}

:host-context([data-theme="dark"]) {
  .illustration {
    --empty-state-primary: #{v(--color-primary-800)};
    --empty-state-secondary: #{v(--color-primary-500)};
    --empty-state-bg: #{v(--color-yellow-200)};
  }
}


@include for-tablet-portrait-up {
  :host([vertical]) .empty-state {
    flex-direction: row;
    gap: v(--space-4);

    .content {
      align-items: normal;
      text-align: left;
    }
  }
}
