---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>

  <div class='component-container'>

    <goat-menu class='menu' style='width: 200px; padding-inline-end: var(--spacing-05)'>
      <goat-menu-item value='cut'>
        <goat-icon name='cut' slot='start' size='sm'></goat-icon>
        Cut
        <span slot='end'>⌘X</span>
      </goat-menu-item>
      <goat-menu-item value='copy'>
        <goat-icon name='copy' slot='start' size='sm'></goat-icon>
        Copy
        <span slot='end'>⌘C</span>
      </goat-menu-item>
      <goat-menu-item value='paste'>
        <goat-icon name='paste' slot='start' size='sm'></goat-icon>
        Paste
        <span slot='end'>⌘X</span>
      </goat-menu-item>
      <goat-divider></goat-divider>
      <goat-menu-item value='delete'>
        <goat-icon name='trash-can' slot='start' size='sm'></goat-icon>
        Delete
        <span slot='end'>←</span>
      </goat-menu-item>
    </goat-menu>

    <goat-menu class='menu' style='width: 300px'>
      <goat-menu-item value='shivaji' selected>
        <goat-avatar src='https://doodleipsum.com/40x40/avatar-3?i=74943b7fc5a9da2affe8c2d8b8558812' size='40px'
                     slot='start'></goat-avatar>
        <div>
          <goat-text>Shivaji Varma</goat-text>
        </div>
        <div>
          <goat-text type='body-compact'>Software Engineer</goat-text>
        </div>
      </goat-menu-item>
      <goat-menu-item value='john'>
        <goat-avatar src='https://doodleipsum.com/40x40/avatar-3?i=6801be2ffb4809eefe713e4fefd7b9ae' size='40px'
                     slot='start'></goat-avatar>
        <div>
          <div>
            <goat-text>John doe</goat-text>
          </div>
          <div>
            <goat-text type='body-compact' expressive='false'>Manager</goat-text>
          </div>
        </div>
      </goat-menu-item>

      <goat-menu-item value='fred'>
        <goat-avatar src='https://doodleipsum.com/40x40/avatar-3?i=5ff278e220eacb10b8e37efefef406a6' size='40px'
                     slot='start'></goat-avatar>
        <div>
          <div>
            <goat-text>Fred</goat-text>
          </div>
          <div>
            <goat-text type='body-compact'>Director</goat-text>
          </div>
        </div>
      </goat-menu-item>
    </goat-menu>

  </div>
</HighlighterCard>
