---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>

  <goat-spinner></goat-spinner>

  <goat-spinner class='inherit' style='color: var(--color-primary)'></goat-spinner>
  <goat-spinner class='inherit' style='color: var(--color-error)'></goat-spinner>
  <goat-spinner class='inherit' style='color: var(--color-warning)'></goat-spinner>
  <goat-spinner class='inherit' style='color: var(--color-success)'></goat-spinner>

  <span style='color: pink'>
  <goat-spinner class='inherit'></goat-spinner>
</span>

  <br />

  <goat-spinner class='rainbow'></goat-spinner>
</HighlighterCard>
