---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>

<goat-svg src="https://icons.getbootstrap.com/assets/icons/bug.svg" style="color: var(--color-primary)"></goat-svg>
<goat-svg src="https://icons.getbootstrap.com/assets/icons/bug.svg" style="color: var(--color-success)"></goat-svg>
<goat-svg src="https://icons.getbootstrap.com/assets/icons/bug.svg" style="color: var(--color-warning)"></goat-svg>
<goat-svg src="https://icons.getbootstrap.com/assets/icons/bug.svg" style="color: var(--color-error)"></goat-svg>

<span style="color: pink">
  <goat-svg src="https://icons.getbootstrap.com/assets/icons/bug.svg"></goat-svg>
</span>

</HighlighterCard>
