:root {
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-neutral-500: #64748b;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1e293b;
  --color-neutral-900: #0f172a;

  --color-primary-50: #e8edfb;
  --color-primary-100: #bbcaf3;
  --color-primary-200: #8ea7ec;
  --color-primary-300: #6183e4;
  --color-primary-400: #3460dc;
  --color-primary-500: #1d4ed8;
  --color-primary-600: #173ead;
  --color-primary-700: #112f82;
  --color-primary-800: #0c1f56;
  --color-primary-900: #06102b;

  --color-secondary-50: #fefaed;
  --color-secondary-100: #fdf0c8;
  --color-secondary-200: #fbe7a3;
  --color-secondary-300: #f9dd7e;
  --color-secondary-500: #f7ce46;
  --color-secondary-600: #c6a538;
  --color-secondary-700: #947c2a;
  --color-secondary-800: #63521c;
  --color-secondary-900: #31290e;

  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-500: #10b981;
  --color-success-400: #34d399;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;

  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;

  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;

  --color-shades-white: #ffffff;
  --color-shades-black: #000000;

  --color-dark-mode-50: #5f626b;
  --color-dark-mode-100: #555962;
  --color-dark-mode-200: #4c4f59;
  --color-dark-mode-300: #424651;
  --color-dark-mode-400: #424651;
  --color-dark-mode-500: #393d48;
  --color-dark-mode-600: #2f343f;
  --color-dark-mode-700: #262a36;
  --color-dark-mode-800: #1c212e;
  --color-dark-mode-900: #131825;
}
