@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --font-weight-regular: normal;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --text-xs-font-size: 0.75rem;
  --text-xs-line-height: 1.125rem;
  --text-xs-letter-spacing: 0rem;
  --text-sm-font-size: 0.875rem;
  --text-sm-line-height: 1.25rem;
  --text-sm-letter-spacing: 0rem;
  --text-md-font-size: 1rem;
  --text-md-line-height: 1.5rem;
  --text-md-letter-spacing: 0rem;
  --text-lg-font-size: 1.125rem;
  --text-lg-line-height: 1.75rem;
  --text-lg-letter-spacing: 0rem;
  --text-xl-font-size: 1.25rem;
  --text-xl-line-height: 1.875rem;
  --text-xl-letter-spacing: 0rem;
  --display-xs-font-size: 1.5rem;
  --display-xs-line-height: 2rem;
  --display-xs-letter-spacing: 0rem;
  --display-sm-font-size: 1.875rem;
  --display-sm-line-height: 2.375rem;
  --display-sm-letter-spacing: 0rem;
  --display-md-font-size: 1rem;
  --display-md-line-height: 1.5rem;
  --display-md-letter-spacing: 0rem;
  --display-lg-font-size: 1.125rem;
  --display-lg-line-height: 1.75rem;
  --display-lg-letter-spacing: -0.02rem;
  --display-xl-font-size: 1.25rem;
  --display-xl-line-height: 1.875rem;
  --display-xl-letter-spacing: -0.02rem;
  --space-1: 0.25;
  --space-2: 0.5;
  --space-3: 0.75;
  --space-4: 1;
  --space-5: 1.25;
  --space-6: 1.5;
  --space-8: 2;
  --space-10: 2.5;
  --space-12: 3;
  --space-16: 4;
  --space-20: 5;
  --space-24: 6;
  --space-32: 8;
  --space-40: 10;
  --space-48: 12;
  --space-56: 14;
  --space-64: 16;
  --container-spacesm: 40;
  --container-spacemd: 48;
  --container-spacelg: 64;
  --container-spacexl: 80;
  --color-grey-25: #FCFCFD;
  --color-grey-50: #F9FAFB;
  --color-grey-100: #F2F4F7;
  --color-grey-200: #EAECF0;
  --color-grey-300: #D0D5DD;
  --color-grey-400: #98A2B3;
  --color-grey-500: #667085;
  --color-grey-600: #475467;
  --color-grey-700: #344054;
  --color-grey-800: #1D2939;
  --color-grey-900: #101828;
  --color-primary-25: #F5FAFF;
  --color-primary-50: #EFF8FF;
  --color-primary-100: #D1E9FF;
  --color-primary-200: #B2DDFF;
  --color-primary-300: #84CAFF;
  --color-primary-400: #53B1FD;
  --color-primary-500: #2E90FA;
  --color-primary-600: #1570EF;
  --color-primary-700: #175CD3;
  --color-primary-800: #1849A9;
  --color-primary-900: #194185;
  --color-blue-25: #F5FAFF;
  --color-blue-50: #EFF8FF;
  --color-blue-100: #D1E9FF;
  --color-blue-200: #B2DDFF;
  --color-blue-300: #84CAFF;
  --color-blue-400: #53B1FD;
  --color-blue-500: #2E90FA;
  --color-blue-600: #1570EF;
  --color-blue-700: #175CD3;
  --color-blue-800: #1849A9;
  --color-blue-900: #194185;
  --shadowxs: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --shadowsm: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  --shadowmd: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --shadowlg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadowxl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  --shadowxxl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadowxxxl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  --border-radius: 5px;
  --border-color: #cbd5e1;
  --z-index-table-header: 100;
  --z-index-dropdown-content: 200;
}

body {
  font-size: 16px;
}

p {
  font-size: var(--text-md-font-size, 1rem);
  line-height: var(--text-md-line-height, 1.5rem);
  letter-spacing: var(--text-md-letter-spacing, 0rem);
}

.text-xs {
  font-size: var(--text-xs-font-size, 0.75rem);
  line-height: var(--text-xs-line-height, 1.125rem);
  letter-spacing: var(--text-xs-letter-spacing, 0rem);
}

.text-sm {
  font-size: var(--text-sm-font-size, 0.875rem);
  line-height: var(--text-sm-line-height, 1.25rem);
  letter-spacing: var(--text-sm-letter-spacing, 0rem);
}

.text-md {
  font-size: var(--text-md-font-size, 1rem);
  line-height: var(--text-md-line-height, 1.5rem);
  letter-spacing: var(--text-md-letter-spacing, 0rem);
}

.text-lg {
  font-size: var(--text-lg-font-size, 1.125rem);
  line-height: var(--text-lg-line-height, 1.75rem);
  letter-spacing: var(--text-lg-letter-spacing, 0rem);
}

.text-xl {
  font-size: var(--text-xl-font-size, 1.25rem);
  line-height: var(--text-xl-line-height, 1.875rem);
  letter-spacing: var(--text-xl-letter-spacing, 0rem);
}

.display-xs {
  font-size: var(--display-xs-font-size, 1.5rem);
  line-height: var(--display-xs-line-height, 2rem);
  letter-spacing: var(--display-xs-letter-spacing, 0rem);
}

.display-sm {
  font-size: var(--display-sm-font-size, 1.875rem);
  line-height: var(--display-sm-line-height, 2.375rem);
  letter-spacing: var(--display-sm-letter-spacing, 0rem);
}

.display-md {
  font-size: var(--display-md-font-size, 1rem);
  line-height: var(--display-md-line-height, 1.5rem);
  letter-spacing: var(--display-md-letter-spacing, 0rem);
}

.display-lg {
  font-size: var(--display-lg-font-size, 1.125rem);
  line-height: var(--display-lg-line-height, 1.75rem);
  letter-spacing: var(--display-lg-letter-spacing, -0.02rem);
}

.display-xl {
  font-size: var(--display-xl-font-size, 1.25rem);
  line-height: var(--display-xl-line-height, 1.875rem);
  letter-spacing: var(--display-xl-letter-spacing, -0.02rem);
}
/*# sourceMappingURL=theme.css.map */
