@import "../../../globalStyles/commons";

.arc-container path {
  stroke: var(--color-light);
  stroke-width: 2px;
  transition: all 0.1s ease-out;
}

.item-polyline {
  fill: none;
  stroke-width: 1;
  stroke: var(--text-primary);
}

.item-label {
  fill: var(--text-primary);
  font-size: var(--label-01-font-size);
  font-weight: var(--label-01-font-weight);
  line-height: var(--label-01-line-height);
  letter-spacing: var(--label-01-letter-spacing);
}
