@import "../../../globalStyles/commons";

:host {
  display: block;
  margin-bottom: v(--spacing-4);
}

.form-control {
  display: flex;
  flex-direction: column;

  slot::slotted(goat-input),
  slot::slotted(goat-textarea),
  slot::slotted(goat-checkbox),
  slot::slotted(goat-radio),
  slot::slotted(goat-code-editor){
    margin-bottom: 0.375rem;
  }
}

.label {
  @include font-style(text-sm);
  font-weight: v(--font-weight-medium);
  margin-bottom: 0.375rem;

  color: v(--text-secondary);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .required {
    color: v(--danger-02);
    padding-right: v(--spacing-1);
  }
}

.subtitle {
  @include font-style(text-xs);
  font-weight: v(--font-weight-regular);
  .subtitle-caption {
    color: v(--text-05);
  }
  .subtitle-error {
    color: v(--support-error-inverse);
  }
  .subtitle-success {
    color: v(--support-success-inverse);
  }
  .subtitle-warning {
    color: v(--inverted-support-03);
  }
}


.form-control.inline {
  flex-direction: row;
  align-items: center;
  .label {
    margin-bottom: 0;
    margin-inline-end: v(--spacing-2);
  }
}
