@import "../../../globalStyles/commons";

:host {
  display: inline-block;
}

.icon {
  line-height: 0;
  height: 100%;
  width: 100%;
}

svg {
  width: inherit;
  height: inherit;
}

:host(.inherit) .icon {
  color: inherit;
}
