:host {
  display: inline-block;
  color: var(--color-gray-10, #36363e);
}

:host-context(.item) {
  --color: initial;
  color: var(--color);
}

:host(.danger) {
  color: var(--color-red-6, #ff4c47);
}

:host(.success) {
  color: var(--color-green-6, #48ff4d);
}

:host(.primary) {
  color: var(--color-primary, var(--color-indigo-6, #4c48ff));
}