@import "../../../../../globalStyles/commons";

:host {
  display: block;
  --calendar-border-color: #{v(--border-strong-01)};
  --scale-size: 3rem;
  --scale-color: #{v(--text-placeholder)}
}

.background {
  .row {
    display: flex;
    height: 2rem;
    border-bottom: 1px dashed v(--scale-color);

    &.hour {
      border-bottom: 1px solid v(--scale-color);
    }

    &:last-child {
      border-bottom: 0;
    }

    .column {
      flex: 1;
      border-right: 1px solid v(--scale-color);
    }
  }
}
