---
---
<div slot='title'>A new
  <goat-link inline href='https://google.com'>software</goat-link>
  update is available. See what’s new in version 2.0
</div>
<div slot='subtitle'>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit non vel nulla sit gravida adipiscing.
  Gravida fusce enim habitant etiam netus sed
</div>
