---
---
<div slot='title'>A new
  <goat-link inline href='https://goatui.com'>software</goat-link>
  update is available.
</div>
<div slot='subtitle'>
  A new version of the software is available. Click the button to view the changelog.
</div>
