@import "../../../globalStyles/commons";

:host {
  display: block;
}


.tree-view {
  background-color: v(--layer-01);
}

:host-context(.bg-layer-01) {
  .tree-view {
    background-color: v(--background);
  }
}
