@import "../../../globalStyles/commons";

:host {
  display: inline-block;
  --list-border-radius: var(--border-radius);
  --list-background: #{v(--background)};
  --list-max-height: 100%;
  --list-border-color:  #{v(--border-strong-01)};
  --list-shadow: #{v(--shadow-sm)};
}

.menu {
  background: var(--list-background);
  box-sizing: border-box;
  border-radius: var(--list-border-radius);
  max-height: var(--list-max-height);
  overflow: auto;
  border: 1px solid var(--list-border-color);
  box-shadow: var(--list-shadow);
}

slot::slotted(goat-divider) {
  --divider-color:#{v(--border-subtle-01)};
  --divider-padding:#{v(--spacing-03)};
}
