@import "../../../styles/scss/commons";

:host {
  color: v(--primary-text-color);
}

.heading {
  font-weight: v(--font-weight-semi-bold);
  margin: 0;
}

.paragraph {
  margin: 0;
}

:host([variant="heading"]) {
  display: block;

  &:host([size="xl"]) {
    margin-bottom: v(--space-4);

    .heading {
      @include font-style(display-xl);
    }
  }

  &:host([size="lg"]) {
    margin-bottom: v(--space-3);

    .heading {
      @include font-style(display-lg);
    }
  }

  &:host([size="md"]) {
    margin-bottom: v(--space-3);

    .heading {
      @include font-style(display-md);
    }
  }

  &:host([size="sm"]) {
    margin-bottom: v(--space-2);

    .heading {
      @include font-style(display-sm);
    }
  }

  &:host([size="xs"]) {
    margin-bottom: v(--space-2);

    .heading {
      @include font-style(display-xs);
    }
  }

}

:host([variant="paragraph"]) {
  display: block;
  margin-bottom: v(--space-2);

  &:host([size="xl"]) {
    .paragraph {
      @include font-style(text-xl);
    }
  }

  &:host([size="lg"]) {
    .paragraph {
      @include font-style(text-lg);
    }
  }

  &:host([size="md"]) {
    .paragraph {
      @include font-style(text-md);
    }
  }

  &:host([size="sm"]) {
    .paragraph {
      @include font-style(text-sm);
    }
  }

  &:host([size="xs"]) {
    .paragraph {
      @include font-style(text-xs);
    }
  }

}

:host([variant="text"]) {
  display: inline-block;

  &:host([size="xl"]) {
    .text {
      @include font-style(text-xl);
    }
  }

  &:host([size="lg"]) {
    .text {
      @include font-style(text-lg);
    }
  }

  &:host([size="md"]) {
    .text {
      @include font-style(text-md);
    }
  }

  &:host([size="sm"]) {
    .text {
      @include font-style(text-sm);
    }
  }

  &:host([size="xs"]) {
    .text {
      @include font-style(text-xs);
    }
  }

}

:host([secondary]) {
  color: v(--secondary-text-color);
}





