@import "../../../../globalStyles/commons";

:host {
  display: block;
  --menu-item-padding: #{v(--spacing-02)} #{v(--spacing-04)};
}


.menu-item {
  border: 1px solid transparent;

  cursor: pointer;
  @include font-style(text-md);
  padding: var(--menu-item-padding);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: v(--spacing-02);
  color: v(--text-secondary);

  .item-section {
    display: flex;
    align-items: center;
  }

  .slot-main {
    display: block;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .slot-end {
    color: v(--text-helper);
  }

}



.menu-item {
  &:hover, &.has-focus:not(.active) {
    background: v(--hover-ui);
    color: v(--text-primary);
    .slot-end {
      color: v(--icon-01);
    }
  }

  &.active, &.selected {
    background: v(--selected-ui);
  }
}

.menu-item.has-focus:not(.active) {
  outline: none;
  border: 1px solid v(--color-primary);
}

.menu-item.disabled {
  cursor: not-allowed;
  color: v(--text-disabled) !important;
  background-color: v(--disabled-01) !important;

  &:hover, &.has-focus:not(.active) {
    color: v(--text-disabled) !important;
    background-color: v(--disabled-01) !important;
  }

  &.active, &.selected {
    color: v(--text-disabled) !important;
    background-color: v(--disabled-01) !important;
  }
}


.menu-item:not(.start-slot-has-content) {
  .slot-start {
    display: none;
  }
}

.menu-item:not(.end-slot-has-content) {
  .slot-end {
    display: none;
  }
}


