@import "../../../globalStyles/commons";

:host {
  display: block;
  height: 100%;
}

.header-brand {
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline-start: v(--spacing-05);

  .brand-link {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: v(--spacing-03);
    height: 100%;
    padding: 0 v(--spacing-02);
    font-weight: v(--font-weight-bold);
  }

  .logo {
    height: 2rem;
  }

}

.subtitle-divider {
  height: 1.5rem;
}

.subtitle {
  padding: 0 v(--spacing-02);
}

/*
 * Colors
 */
.header-brand {
  color: var(--header-brand-title-color, v(--color-gray-100));

  .subtitle {
    color: var(--header-brand-subtitle-color, v(--color-gray-100));
  }
}

:host-context([color-is="dark"]) :host{
  --header-brand-title-color: #{v(--color-white)};
  --header-brand-subtitle-color: #{v(--color-white)};

  .subtitle-divider {
    --divider-color: #{v(--color-white)};
  }
}

:host-context([color-is="light"]) :host {
  --header-brand-title-color: #{v(--color-black)};
  --header-brand-subtitle-color: #{v(--color-black)};

  .subtitle-divider {
    --divider-color: #{v(--color-black)};
  }
}

@include for-phone-only {
  .header-brand {
    padding-inline-start: v(--spacing-04);
  }
}
