@import "../../../globalStyles/commons";

:host {
  display: block;
}

.canvas-wrapper {
  background: rgb(246 246 248);
}

#bg circle {
  fill: v(--border-color);
}

#endarrow polyline{
  fill: none;
  stroke: #231F20;
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
}


.line {

  &.no-color {
    stroke: v(--border-color);
  }
}


.clickable {
  cursor: pointer;

  &:hover .line {

    stroke: v(--color-primary);
  }

  z-index: 1;
}
