:root {
      --font-normal: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
      --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
      --font-weight-regular: 400;
      --font-weight-medium: 500;
      --font-weight-semibold: 600;
      --font-weight-bold: 700;
      --font-size-1: 11px;
      --font-size-2: 12px;
      --font-size-3: 13px;
      --font-size-4: 14px;
      --font-size-5: 16px;
      --font-size-6: 20px;
      --font-size-7: 24px;
      --font-size-8: 32px;
      --font-size-9: 40px;
      --font-size-10: 48px;
      --font-size-11: 64px;
      --line-height-solid: 1;
      --line-height-title: 1.2;
      --line-height-body: 1.6;
      --line-height-prose: 1.8;
      --letter-spacing-tight: -0.0.12em;
      --letter-spacing-solid: 0em;
      --letter-spacing-wide: 0.04em;
      --space-1: 4px;
      --space-2: 8px;
      --space-3: 12px;
      --space-4: 16px;
      --space-5: 20px;
      --space-6: 24px;
      --space-7: 32px;
      --space-8: 40px;
      --space-9: 48px;
      --space-10: 64px;
      --space-11: 80px;
      --space-12: 96px;
      --space-13: 128px;
      --space-14: 160px;
      --space-15: 192px;
      --space-16: 224px;
      --space-17: 256px;
      --breakpoint-1: 640px;
      --breakpoint-2: 768px;
      --breakpoint-3: 1024px;
      --breakpoint-4: 1280px;
      --radius-1: 0px;
      --radius-2: 6px;
      --radius-3: 8px;
      --radius-4: 16px;
      --radius-5: 100%;
      --border-regular: 1px solid;
      --border-dashed: 1px dashed;
      --border-heavy: 2px solid;
      --elevation-1: none;
      --elevation-2: 0px 1px 2px rgba(2, 8, 20, 0.1), 0px 0px 1px rgba(2, 8, 20, 0.08);
      --elevation-3: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
      --elevation-4: 0px 4px 8px rgba(2, 8, 20, 0.1), 0px 2px 4px rgba(2, 8, 20, 0.08);
      --elevation-5: 0px 8px 16px rgba(2, 8, 20, 0.1), 0px 4px 8px rgba(2, 8, 20, 0.08);
      --elevation-6: 0px 16px 32px rgba(2, 8, 20, 0.1), 0px 8px 16px rgba(2, 8, 20, 0.08);
      --duration-instantly: 0s;
      --duration-quickly: 0.15s;
      --color-black: #000;
      --color-indigo-1: #f4f4ff;
      --color-indigo-2: #d5d3ff;
      --color-indigo-3: #bcbaff;
      --color-indigo-4: #a09dff;
      --color-indigo-5: #7d79ff;
      --color-indigo-6: #4c48ff;
      --color-indigo-7: #4441e1;
      --color-indigo-8: #3b38c1;
      --color-indigo-9: #312e9a;
      --color-indigo-10: #232169;
      --color-indigo-11: #100e42;
      --color-gray-1: #f4f7fa;
      --color-gray-2: #eef0f2;
      --color-gray-3: #dcdbe2;
      --color-gray-4: #c7c6d3;
      --color-gray-5: #aaa9bb;
      --color-gray-6: #9f9eb2;
      --color-gray-7: #7a798d;
      --color-gray-8: #626175;
      --color-gray-9: #414155;
      --color-gray-10: #36363e;
      --color-gray-11: #151518;
      --color-fuschia-1: #f5e9ff;
      --color-fuschia-2: #e9d1ff;
      --color-fuschia-3: #ddb8ff;
      --color-fuschia-4: #ce9aff;
      --color-fuschia-5: #bc77ff;
      --color-fuschia-6: #a448ff;
      --color-fuschia-7: #9241e2;
      --color-fuschia-8: #7e38c2;
      --color-fuschia-9: #662e9c;
      --color-fuschia-10: #46226b;
      --color-fuschia-11: #361656;
      --color-pink-1: #ffe9f3;
      --color-pink-2: #ffd2e7;
      --color-pink-3: #ffb9d9;
      --color-pink-4: #ff9cc9;
      --color-pink-5: #ff79b5;
      --color-pink-6: #ff4798;
      --color-pink-7: #e24087;
      --color-pink-8: #c33875;
      --color-pink-9: #9d2e5f;
      --color-pink-10: #6d2243;
      --color-pink-11: #4a0f29;
      --color-red-1: #ffeae9;
      --color-red-2: #ffd3d3;
      --color-red-3: #ffbbb9;
      --color-red-4: #ff9f9c;
      --color-red-5: #ff7c78;
      --color-red-6: #ff4c47;
      --color-red-7: #e24440;
      --color-red-8: #c33b38;
      --color-red-9: #9d322f;
      --color-red-10: #6d2422;
      --color-red-11: #3d0d0b;
      --color-orange-1: #fff2e5;
      --color-orange-2: #ffe4c9;
      --color-orange-3: #ffd7ab;
      --color-orange-4: #ffc78c;
      --color-orange-5: #ffb76b;
      --color-orange-6: #ffa448;
      --color-orange-7: #e29240;
      --color-orange-8: #c37f38;
      --color-orange-9: #9e672f;
      --color-orange-10: #6e4822;
      --color-orange-11: #42280e;
      --color-yellow-1: #feffe8;
      --color-yellow-2: #fdffd0;
      --color-yellow-3: #fcffb7;
      --color-yellow-4: #fbff99;
      --color-yellow-5: #f9ff75;
      --color-yellow-6: #f8ff48;
      --color-yellow-7: #dde340;
      --color-yellow-8: #bfc438;
      --color-yellow-9: #9b9f2f;
      --color-yellow-10: #6d7023;
      --color-yellow-11: #474a0f;
      --color-lime-1: #f1ffe6;
      --color-lime-2: #e4ffcc;
      --color-lime-3: #d4ffb0;
      --color-lime-4: #c3ff92;
      --color-lime-5: #b0ff6f;
      --color-lime-6: #98ff48;
      --color-lime-7: #87e340;
      --color-lime-8: #76c438;
      --color-lime-9: #609f2f;
      --color-lime-10: #457023;
      --color-lime-11: #23410b;
      --color-green-1: #e9ffea;
      --color-green-2: #d3ffd5;
      --color-green-3: #b9ffbc;
      --color-green-4: #9cffa0;
      --color-green-5: #79ff7e;
      --color-green-6: #48ff4d;
      --color-green-7: #41e345;
      --color-green-8: #38c43d;
      --color-green-9: #2f9f32;
      --color-green-10: #237025;
      --color-green-11: #124713;
      --color-teal-1: #e9fff5;
      --color-teal-2: #d1ffe9;
      --color-teal-3: #b7ffdd;
      --color-teal-4: #9affce;
      --color-teal-5: #76ffbc;
      --color-teal-6: #48ffa5;
      --color-teal-7: #40e393;
      --color-teal-8: #38c47f;
      --color-teal-9: #2f9f68;
      --color-teal-10: #23704a;
      --color-teal-11: #145736;
      --color-cyan-1: #e8feff;
      --color-cyan-2: #d0fdff;
      --color-cyan-3: #b6fbff;
      --color-cyan-4: #98faff;
      --color-cyan-5: #75f9ff;
      --color-cyan-6: #47f8ff;
      --color-cyan-7: #40dde3;
      --color-cyan-8: #38bfc4;
      --color-cyan-9: #2e9b9f;
      --color-cyan-10: #236d70;
      --color-cyan-11: #11494b;
      --color-blue-1: #e6f1ff;
      --color-blue-2: #cce3ff;
      --color-blue-3: #afd4ff;
      --color-blue-4: #90c3ff;
      --color-blue-5: #6eafff;
      --color-blue-6: #4798ff;
      --color-blue-7: #4087e2;
      --color-blue-8: #3875c3;
      --color-blue-9: #2e5f9d;
      --color-blue-10: #22436c;
      --color-blue-11: #0f243f;
      --color-primary: var(--color-indigo-6);
      --color-woodsmoke: #16161d;
      --color-gandalf: #414155;
      --color-gunpowder: #505061;
      --color-dolphin: #626177;
      --color-manatee: #8888a2;
      --color-cadet-blue: #abb2bf;
      --color-whisper: #ebebf7;
      --color-selago: #f4f4fd;
      --color-white-lilac: #f8f8fc;
      --color-white: #fff;
      --color-green-haze: #00ab47;
      --color-dodger-blue: #5851ff;
      --color-dodger-blue-hover: rgba(88, 81, 255, 0.2);
      --color-old-lace: #fdf5e4;
      --color-wheatfield: #f1e3c5;
      --color-pirate-gold: #9a6400;
      --button-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
      --button-shadow-hover: 0 4px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.08);
      --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1)
}
