---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang='html'>
  <goat-empty-state
    style='height: 40rem'
    illustration='page'
    headline='404 : Page not found :('
    description='The page you are looking for does not exist. Please check the URL or go back to the homepage.'
    action='Go back to the homepage'
    action-url='/'
  >
    <div slot='actions'>
      <goat-link variant='ghost' href='/'
      >Go to home page
        <goat-icon name='arrow--right'></goat-icon>
      </goat-link>
    </div>
  </goat-empty-state>
</HighlighterCard>
