@import "../../../styles/scss/commons";

:host {
  display: block;
}

.menu-item {
  cursor: pointer;
  @include font-style(text-md);
  padding: v(--space-2) v(--space-4);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: v(--space-2);
  @include text-color(v(--text-color-secondary));

  .item-section {
    display: flex;
    align-items: center;
  }

  .slot-main {
    display: block;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .slot-end {
    @include text-color(v(--text-color-tertiary));
  }

}

@mixin menuItemColorVariant($color) {
  &:hover, &.has-focus:not(.active) {
    background: v(--color-#{$color}-100);
    @include text-color(v(--color-#{$color}-500));
    .slot-end {
      @include text-color(v(--color-#{$color}-300));
    }
  }

  &.active, &.selected {
    background: v(--color-#{$color}-300);
    @include text-color(v(--color-white));
    .slot-end {
      @include text-color(v(--color-white));
    }
  }
}

.menu-item.color-primary {
  @include menuItemColorVariant(primary);
}

.menu-item.color-success {
  @include menuItemColorVariant(success);
}

.menu-item.color-warning {
  @include menuItemColorVariant(warning);
}

.menu-item.color-neutral {
  @include menuItemColorVariant(neutral);
}


.menu-item.has-focus:not(.active) {
  @include focus-ring;
}


.menu-item.disabled {
  cursor: not-allowed;
  @include text-color(v(--color-neutral-400), true);

  &:hover, &.has-focus:not(.active) {
    background: transparent !important;
    @include text-color(v(--color-neutral-400), true);
  }

  &.active, &.selected {
    background: transparent !important;
    @include text-color(v(--color-neutral-400), true);
  }
}


