@import "../../styles/scss/commons";

:host {
  display: inline-block;
  --color:  #{v(color-neutral-900)};
  color: var(--color);
}

.icon {
  line-height: 0;
}

:host(.primary) {
  .icon {
    color: v(color-primary-500);
  }
}

:host(.secondary) {
  .icon {
    color: v(color-secondary-500);
  }
}

:host(.error) {
  .icon {
    color: v(color-error-500);
  }
}

:host(.success) {
  .icon {
    color: v(color-success-500);
  }
}
