@import "../../theme/variables";

:host {
  display: inline-block;
  color: $color-gray-10;
}

:host-context(.item) {
  --color: initial;
  color: var(--color);
}


:host(.danger) {
  color: $color-red-6;
}

:host(.success) {
  color: $color-green-6;
}


:host(.primary) {
  color: $color-primary;
}

