@import "../../../globalStyles/commons";


:host {
  display: block;
  height: 1200px;
}

.code-editor-component {
  height: 100%;
  .editor {
    height: 100%;
    min-height: 20rem;
    outline: none;
    border: 1px solid v(--border-strong-01);
  }
}
