@import "../../../globalStyles/commons";

:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: v(--spacing-3);
}

.empty-state {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.illustration {
  max-width: v(--container-sm);

  svg {
    width: 100%;
  }

  --empty-state-outline: #{v(--color-brand-primary)};
  --empty-state-bg-primary: #{v(--color-brand-secondary)};
  --empty-state-bg-secondary: #{v(--color-brand-secondary-40)};
  --empty-state-bg-tertiary: #{v(--color-brand-secondary-30)};

  --empty-state-text: #{v(--text-primary)};
  --empty-state-bg-surface: #{v(--background)};

  --empty-state-green: #{v(--color-success-50)};
}

:host-context([data-theme="dark"]) {
  .illustration {
    --empty-state-bg-secondary: #{v(--color-brand-secondary-80)};
    --empty-state-bg-tertiary: #{v(--color-brand-secondary-100)};
  }
}


.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: v(--spacing-2) 0;
  text-align: center;
  justify-content: center;

  .title {
    @include font-style(text-md);
    font-weight: v(--font-weight-semi-bold);
    margin-bottom: v(--spacing-2);
    color: var(--text-color, v(--text-primary))
  }

  .description {
    @include font-style(text-sm);
    margin-bottom: v(--spacing-4);
    color: var(--text-color, v(--text-secondary))
  }
}


@include for-tablet-portrait-up {
  :host([vertical]) .empty-state {
    flex-direction: row;
    gap: v(--spacing-8);

    .content {
      align-items: normal;
      text-align: left;
    }
  }
}
