@import "../../../globalStyles/commons";

* {
}

:host {
  display: inline-block;
}

.badge {
  position: relative;
}

.badge-content {
  position: absolute;
  z-index: v(--z-index-badge);
  color: v(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--badge-color, v(--color-neutral));
  border-radius: 12px;
  padding: v(--spacing-01) v(--spacing-02);
  @include font-style(code-01);

  &.has-content {
    top: -0.5rem;
    right: -0.5rem;
    height: 1.25rem;
    min-width: 1.25rem;
  }

  &:not(.has-content) {
    top: -0.25rem;
    right: -0.25rem;
    height: 0.5rem;
    min-width: 0.5rem;
  }
}



@each $state in [success, warning, error] {
  :host(.color-#{$state}) {
    .badge-content {
      background-color: v(--color-#{$state});
    }
  }
}
