@import "../../../../globalStyles/commons";

:host {
  display: inline-block;
  --list-border-radius: #{v(--border-radius)};
  --list-max-height: inherit;
}


.menu {
  background-color: v(--field-02);
  padding: v(--spacing-2) 0;
  border: 1px solid v(--color-neutral-200);
  box-sizing: border-box;
  border-radius: var(--list-border-radius);
  box-shadow: v(--shadow-sm);
}
