@import "../../styles/variables";

:host {
  display: block;
}


.label {
  @include font-p1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;

  .required {
    color: var(--color-error-500);
    padding-right: var(--space-1);
  }
}
