@import "../../styles/scss/commons";

:host {
  display: block;
  padding-bottom: var(--space-2);
}


.label {
  @include font-p1;
  color: var(--color-neutral-900);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;

  .required {
    color: var(--color-error-500);
    padding-right: var(--space-1);
  }
}
