@import "../../styles/scss/commons";

:host {
  display: block;
  padding-bottom: v(space-2);
}


.label {
  @include font-variant(p1);
  color: v(color-neutral-900);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;

  .required {
    color: v(color-error-500);
    padding-right: v(space-1);
  }
}
