@import "../../../globalStyles/commons";

:host {
  display: inline-block;
  margin-bottom: var(--spacing-03);
}

.toast {
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: var(--spacing-02);
  padding: var(--spacing-02) var(--spacing-04);
  border: 1px solid var(--layer-accent-01);
  box-shadow: var(--shadow-lg);
  background-color: var(--background);

  .content {
    flex: 1;
    color: var(--text-primary);

    .message {
      @include font-style(text-md);
    }

    .description {
      @include font-style(text-sm);
    }
  }

  .state-icon {
    line-height: 0;
  }
}


@each $state in [info, success, warning, error] {
  :host([state="#{$state}"]) {
    .state-icon {
      color: var(--color-#{$state});
    }
  }
  :host-context([data-theme="dark"]):host([state="#{$state}"]) {

  }
}
