:host {
  display: block;
}

.prompt {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 5000;

  &:before {
    position: absolute;
    content: '';
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .prompt-content {
    z-index: 5001;
    width: 32rem;
    border-radius: var(--border-radius);
    background: var(--color-white);
    padding: 1.5rem;
    .message {
      padding-bottom: var(--spacing-03);
    }
    .actions {
      display: flex;
      justify-content: end;
      gap: 0.5rem;
      .action {
        padding-bottom: 0;
      }
    }

    .prompt-message {
      margin-bottom: var(--spacing-05);
    }
  }
}
