@import "../../styles/scss/variables";

:host {
  display: inline-block;
  padding-bottom: var(--space-3);
  --button-border-radius: var(--border-radius);
}

:host([block]) {
  display: block;
}

@mixin buttonVariant($color, $bg, $hoverBg, $activeBg) {
  color: var($color);
  background: var($bg);
  border: 1px solid var($bg);

  .spinner, .icon {
    --color: var(#{$color});
    padding-bottom: 0;
  }

  &:hover {
    background: var($hoverBg);
    border: 1px solid var($hoverBg);
  }

  &:after {
    background: var($activeBg);
  }

  &[disabled], &[disabled="true"] {
    color: var(--color-neutral-400);
    background: var(--color-neutral-200);
    border: 1px solid var(--color-neutral-200);

    .spinner, .icon {
      --color: var(--color-neutral-900);
    }
  }
}

@mixin buttonGhostVariant($color, $bg, $hoverBg, $activeBg) {
  color: var($color);
  background: none;
  box-sizing: border-box;
  border: 1px solid var($bg);

  .spinner, .icon {
    --color: var($bg);
  }

  &:hover {
    color: var($hoverBg);
    border: 1px solid var($hoverBg);
  }

  &:after {
    background: var($activeBg);
  }

  &[disabled], &[disabled="true"] {
    color: var(--color-neutral-400);
    background: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-400);

    .spinner, .icon {
      //  --color: var(--color-neutral-900);
    }
  }
}


.button {

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: var(--button-border-radius);

  &:hover {
    cursor: pointer;
  }

  /*
  * On Click animation
  */
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    transition: all 0.8s
  }

  &:active:after {
    width: 0;
    height: 0;
    opacity: 1;
    top: 50%;
    left: 50%;
    transition: 0s
  }

  /**
  * SIZES
  */
  &.button-size-lg {
    padding: var(--space-3_5) var(--space-5);
    @include font-p2-semi-bold;
  }

  &.button-size-md {
    padding: var(--space-3) 1.125rem;
    @include font-p1-semi-bold;
  }

  &.button-size-sm {
    padding: var(--space-2) var(--space-3);
    @include font-caption-semi-bold;
  }

  /**
  * TYPES
  */
  &.button-variant-primary {
    @include buttonVariant(--color-neutral-50, --color-primary-500, --color-primary-300, --color-primary-700);
  }

  &.button-variant-secondary {
    @include buttonVariant(--color-neutral-900, --color-secondary-500, --color-secondary-300, --color-secondary-700);
  }

  &.button-variant-ghost-primary {
    @include buttonGhostVariant(--color-primary-500, --color-primary-500, --color-primary-300, --color-primary-700)
  }

  &.button-variant-ghost-secondary {
    @include buttonGhostVariant(--color-secondary-500, --color-secondary-500, --color-secondary-300, --color-secondary-700)
  }


  /**
   * BLOCK
   */
  &.button-block {
    width: 100%;

    .slot-container {
      width: 100%;
    }
  }

  &.button-icon-position-left {
    .icon {
      margin-right: 0.375rem;
    }
  }

  &.button-icon-position-right {
    flex-direction: row-reverse;

    .icon {
      margin-left: 0.375rem;
    }
  }

  &[disabled]:hover, &[disabled="true"]:hover {
    cursor: not-allowed;
  }
}


