@import "../../styles/scss/commons";

:host {
  display: inline-block;
  padding-bottom: v(space-3);
  --button-border-radius:  #{v(border-radius)};
  --button-border-style: solid;
}

@mixin buttonVariant($color, $bg, $hoverBg) {
  color: v($color);

  background: v($bg);
  border-color: v($bg);

  .spinner, .icon {
    --color: #{v($color)};
  }

  &:hover {
    background: v($hoverBg);
    border-color: v($hoverBg);
  }
}

@mixin buttonGhostVariant($color, $bg, $hoverBg) {
  color: v($color);

  background: transparent;
  border-color: v($bg);

  .spinner, .icon {
    --color: #{v($color)};
  }

  &:hover {
    color: v($hoverBg);
    border-color: v($hoverBg);
  }
}

.button {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  border: 1px var(--button-border-style) transparent;
  border-radius: var(--button-border-radius);

  .slot-container {
    width: 100%;
  }

}

:host([icon]) {
  .button.slot-has-content {
    gap: v(space-1_5);
  }
}

:host([block]) {
  display: block;
  .spinner {
    margin: auto;
  }
}

/**
  * SIZES
  */
:host([size="lg"]) {
  .button {
    padding: v(space-3_5) v(space-5);
    @include font-variant(p2);
    font-weight: v(font-weight-semi-bold);
  }
}

:host([size="md"]) {
  .button {
    padding: v(space-3) 1.125rem;
    @include font-variant(p1);
    font-weight: v(font-weight-semi-bold);
  }
}

:host([size="sm"]) {
  .button {
    padding: v(space-2) v(space-3);
    @include font-variant(caption);
    font-weight: v(font-weight-semi-bold);
  }
}

/**
  * TYPES
  */
:host([variant="primary"]) {
  &:host(:not([ghost])) {
    .button {
      @include buttonVariant(color-neutral-50, color-primary-500, color-primary-300);
    }

    &:host([active]) {
      .button {
        background: v(color-primary-700);
        border-color: v(color-primary-700);
      }
    }
  }

  &:host([ghost]) {
    .button {
      @include buttonGhostVariant(color-primary-500, color-primary-500, color-primary-300);
    }

    &:host([active]) {
      .button {
        color: v(color-primary-300);
        background: v(color-primary-50);
        border-color: v(color-primary-200);
      }
    }
  }
}

:host([variant="secondary"]) {
  &:host(:not([ghost])) {
    .button {
      @include buttonVariant(color-neutral-900, color-secondary-500, color-secondary-300);
    }

    &:host([active]) {
      .button {
        color: v(color-shades-white);
        background: v(color-secondary-700);
        border-color: v(color-secondary-700);
      }
    }
  }

  &:host([ghost]) {
    .button {
      @include buttonGhostVariant(color-secondary-500, color-secondary-500, color-secondary-300);
    }

    &:host([active]) {
      .button {
        color: v(color-secondary-600);
        background: v(color-secondary-50);
        border-color: v(color-secondary-200);
      }
    }
  }
}

:host([variant="success"]) {
  &:host(:not([ghost])) {
    .button {
      @include buttonVariant(color-neutral-50, color-success-500, color-success-300);
    }

    &:host([active]) {
      .button {
        background: v(color-success-700);
        border-color: v(color-success-700);
      }
    }
  }

  &:host([ghost]) {
    .button {
      @include buttonGhostVariant(color-success-500, color-success-500, color-success-300);
    }

    &:host([active]) {
      .button {
        color: v(color-success-300);
        background: v(color-success-50);
        border-color: v(color-success-200);
      }
    }
  }
}

:host([variant="warning"]) {
  &:host(:not([ghost])) {
    .button {
      @include buttonVariant(color-neutral-50, color-warning-500, color-warning-300);
    }

    &:host([active]) {
      .button {
        background: v(color-warning-700);
        border-color: v(color-warning-700);
      }
    }
  }

  &:host([ghost]) {
    .button {
      @include buttonGhostVariant(color-warning-500, color-warning-500, color-warning-300);
    }

    &:host([active]) {
      .button {
        color: v(color-warning-300);
        background: v(color-warning-50);
        border-color: v(color-warning-200);
      }
    }
  }
}

:host([variant="danger"]) {
  &:host(:not([ghost])) {
    .button {
      @include buttonVariant(color-neutral-50, color-error-500, color-error-300);
    }

    &:host([active]) {
      .button {
        background: v(color-error-700);
        border-color: v(color-error-700);
      }
    }
  }

  &:host([ghost]) {
    .button {
      @include buttonGhostVariant(color-error-500, color-error-500, color-error-300);
    }

    &:host([active]) {
      .button {
        color: v(color-error-300);
        background: v(color-error-50);
        border-color: v(color-error-200);
      }
    }
  }
}


:host([focused]:not([active])) {
  .button {
    @include focus-ring;
  }
}

:host([icon-end]) {
  .button {
    flex-direction: row-reverse;
  }
}

:host([disabled]) {
  .button {
    cursor: not-allowed;
    color: v(color-neutral-400) !important;
    background: v(color-neutral-200) !important;
    border-color: v(color-neutral-200) !important;


    .spinner, .icon {
      --color: #{v(color-neutral-900)} !important;
    }
  }

  &:host([ghost]) {
    .button {
      background: v(color-neutral-100) !important;
      border-color: v(color-neutral-400) !important;
    }
  }
}

