@import "../../styles/scss/commons";

:host {
  display: inline-block;
  padding-bottom: var(--space-3);
  --button-border-radius: var(--border-radius);
  --button-border-style: solid;
}


@mixin buttonVariant($color, $bg, $hoverBg) {
  color: var($color);

  background: var($bg);
  border-color: var($bg);

  .spinner, .icon {
    --color: var(#{$color});
  }

  &:hover {
    background: var($hoverBg);
    border-color: var($hoverBg);
  }
}

@mixin buttonGhostVariant($color, $bg, $hoverBg) {
  color: var($color);

  background: var(--color-shades-white);
  border-color: var($bg);

  .spinner, .icon {
    --color: var(#{$color});
  }

  &:hover {
    color: var($hoverBg);
    border-color: var($hoverBg);
  }
}

.button {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  border: 1px var(--button-border-style) transparent;
  border-radius: var(--button-border-radius);

  .slot-container {
    width: 100%;
  }

}

:host([icon]) {
  .button.slot-has-content {
    gap: var(--space-1_5);
  }
}

:host([block]) {
  display: block;

}

/**
  * SIZES
  */
:host([size="lg"]) {
  .button {
    padding: var(--space-3_5) var(--space-5);
    @include font-p2-semi-bold;
  }
}

:host([size="md"]) {
  .button {
    padding: var(--space-3) 1.125rem;
    @include font-p1-semi-bold;
  }
}

:host([size="sm"]) {
  .button {
    padding: var(--space-2) var(--space-3);
    @include font-caption-semi-bold;
  }
}

/**
  * TYPES
  */
:host([variant="primary"]) {
  &:host(:not([ghost])) {
    .button {
      @include buttonVariant(--color-neutral-50, --color-primary-500, --color-primary-300);
    }

    &:host([active]) {
      .button {
        background: var(--color-primary-700);
        border-color: var(--color-primary-700);
      }
    }
  }

  &:host([ghost]) {
    .button {
      @include buttonGhostVariant(--color-primary-500, --color-primary-500, --color-primary-300);
    }

    &:host([active]) {
      .button {
        color: var(--color-primary-300);
        background: var(--color-primary-50);
        border-color: var(--color-primary-200);
      }
    }
  }
}

:host([variant="secondary"]) {
  &:host(:not([ghost])) {
    .button {
      @include buttonVariant(--color-neutral-900, --color-secondary-500, --color-secondary-300);
    }

    &:host([active]) {
      .button {
        color: var(--color-shades-white);
        background: var(--color-secondary-700);
        border-color: var(--color-secondary-700);
      }
    }
  }

  &:host([ghost]) {
    .button {
      @include buttonGhostVariant(--color-secondary-500, --color-secondary-500, --color-secondary-300);
    }

    &:host([active]) {
      .button {
        color: var(--color-secondary-600);
        background: var(--color-secondary-50);
        border-color: var(--color-secondary-200);
      }
    }
  }
}

:host([focused]:not([active])) {
  .button {
    @include focus-ring;
  }
}

:host([icon-end]) {
  .button {
    flex-direction: row-reverse;
  }
}

:host([disabled]) {
  .button {
    cursor: not-allowed;
    color: var(--color-neutral-400) !important;
    background: var(--color-neutral-200) !important;
    border-color: var(--color-neutral-200) !important;


    .spinner, .icon {
      --color: var(--color-neutral-900) !important;
    }
  }

  &:host([ghost]) {
    .button {
      background: var(--color-neutral-100) !important;
      border-color: var(--color-neutral-400) !important;
    }
  }
}

