

$common: (
  border-radius: 3px,
  /**
   * TIP: use against position:relative elements
   */
  z-index-button: 10,
  z-index-badge: 20,
  z-index-table-header: 30,
  z-index-dropdown-content: 40,
  z-index-notification-manager: 100,
  scrollbar-width: 0.75rem
);

$common-css-variables: ();
@each $key, $value in $common {
  $map: ();
  $map: map-merge($map, ("--"+$key: $value));
  $common-css-variables: map-merge($common-css-variables, $map);
}
