@import "../../../globalStyles/commons";

:host {
  position: absolute;
  display: inline-block;
  transform: scale(0);
  z-index: v(--z-index-tooltip);
}

:host([open]) {
  transition: transform 0.1s ease-out 0s;
  transform: scale(1);
}

.tooltip {
  background: var(--background-inverse);
  @include font-style(label-01);
  color: var(--text-inverse);
  display: inline-block;
  max-width: 18rem;
  padding: var(--spacing-03) var(--spacing-05);
}

.arrow {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--background-inverse);
  transform: rotate(45deg);
  z-index: -1;
}



