@charset "utf-8";
@import "mixin";
@import "device-utils";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');


/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}

:root {
  --font-family-base: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
}

html {
  scroll-behavior: smooth;
  visibility: hidden;
  font-size: 16px;
}

html:not(.hydrated)::after {
  content: 'loading...';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

html.hydrated {
  visibility: visible;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body.stop-scroll {
  overflow-y: hidden;
}

#header-menu {
  background: var(--layer-03);
  position: fixed;
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &.show {
    transform: translateX(0);
  }

  .header-menu-head {
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
    align-items: center;
  }

  .header-menu-list {
    --goat-menu-background: transparent;
  }

  #header-menu-close-btn {
    --goat-button-border-radius: none;
  }

  goat-menu {
    width: 100%;
  }
}

figure {
  margin: 0;
}

.header-divider {
  height: 1.5rem;
}

.sponsor-btn {
  padding-inline: .5rem;
  --goat-button-border-radius: 100px;
}

#search-header-container {
  position: fixed;
  top: 5rem;
  width: 100%;
  left: 0;

  justify-content: center;
  z-index: 1000;
  display: none;
}

#search-header-container[open] {
  display: flex;
}

#search-header-container #search-container-overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

}

#site-search {
  max-width: 25rem;
}

.heading-scrollable::before {
  content: '';
  display: block;
  height: calc(var(--header-height) + 1rem);
  margin-top: calc(-1 * var(--header-height) - 1rem);
  visibility: hidden;
  pointer-events: none;
}

.sections-wrapper {
  padding: var(--spacing-12) 0;
}

.sections-wrapper .section {
  padding-bottom: var(--spacing-09);
}

.sections-wrapper .section:last-child {
  padding-bottom: 0;
}

main {
  position: relative;
  z-index: 0;
}

.main-content {
  margin-top: var(--header-height);
  position: relative;
}


.page-container {
  padding: var(--spacing-07) var(--spacing-05);
}

@include for-tablet-landscape-up {
  .page-container {
    padding: var(--spacing-09) var(--spacing-07);
  }
}
