@charset "utf-8";
@import "mixin";
@import "device-utils";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');


/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}

:root {
  --color-brand-primary: var(--color-purple);
  --color-brand-primary-10: var(--color-purple-10);
  --color-brand-primary-20: var(--color-purple-20);
  --color-brand-primary-30: var(--color-purple-30);
  --color-brand-primary-40: var(--color-purple-40);
  --color-brand-primary-50: var(--color-purple-50);
  --color-brand-primary-60: var(--color-purple-60);
  --color-brand-primary-70: var(--color-purple-70);
  --color-brand-primary-80: var(--color-purple-80);
  --color-brand-primary-90: var(--color-purple-90);
  --color-brand-primary-100: var(--color-purple-100);

  --color-brand-secondary: #b1fc3f;
  --color-brand-secondary-10: #ffffff;
  --color-brand-secondary-20: #effed9;
  --color-brand-secondary-30: #e0feb2;
  --color-brand-secondary-40: #d0fd8c;
  --color-brand-secondary-50: #c1fd65;
  --color-brand-secondary-60: #b1fc3f;
  --color-brand-secondary-70: #8eca32;
  --color-brand-secondary-80: #6a9726;
  --color-brand-secondary-90: #476519;
  --color-brand-secondary-100: #23320d;


  --color-custom-01: #b1fc3f;
  --color-custom-01-10: #ffffff;
  --color-custom-01-20: #effed9;
  --color-custom-01-30: #e0feb2;
  --color-custom-01-40: #d0fd8c;
  --color-custom-01-50: #c1fd65;
  --color-custom-01-60: #b1fc3f;
  --color-custom-01-70: #8eca32;
  --color-custom-01-80: #6a9726;
  --color-custom-01-90: #476519;
  --color-custom-01-100: #23320d;



  --font-family-base: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

html[data-theme="dark"] {

  --color-custom-01: #8eca32;
  --color-custom-01-10: #ffffff;
  --color-custom-01-20: #effed9;
  --color-custom-01-30: #e0feb2;
  --color-custom-01-40: #d0fd8c;
  --color-custom-01-50: #c1fd65;
  --color-custom-01-60: #b1fc3f;
  --color-custom-01-70: #8eca32;
  --color-custom-01-80: #6a9726;
  --color-custom-01-90: #476519;
  --color-custom-01-100: #23320d;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
}

html {
  scroll-behavior: smooth;
  visibility: hidden;
  font-size: 16px;
}

html:not(.hydrated)::after {
  content: 'loading...';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

html.hydrated {
  visibility: visible;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body.stop-scroll {
  overflow-y: hidden;
}

#header-menu {
  background: var(--layer-03);
  position: fixed;
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &.show {
    transform: translateX(0);
  }

  .header-menu-head {
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
    align-items: center;
  }

  goat-menu {
    width: 100%;
  }
}

figure {
  margin: 0;
}

.header-divider {
  height: 1.5rem;
}

.sponsor-btn {
  padding-inline: .5rem;
  --button-border-radius: 100px;
}


#site-search {
  margin: 0 1rem;
  width: auto;
  min-width: 15rem;
}

#site-search[open] {
  width: 25rem;
}


.heading-scrollable::before {
  content: '';
  display: block;
  height: calc(var(--header-height) + 1rem);
  margin-top: calc(-1 * var(--header-height) - 1rem);
  visibility: hidden;
  pointer-events: none;
}

.sections-wrapper {
  padding: var(--spacing-12) 0;
}

.sections-wrapper .section {
  padding-bottom: var(--spacing-09);
}

.sections-wrapper .section:last-child {
  padding-bottom: 0;
}

.main-content {
  margin-top: var(--header-height);
  position: relative;
}


.page-container {
  padding: var(--spacing-07) var(--spacing-05);
}

@include for-tablet-landscape-up {
  .page-container {
    padding: var(--spacing-09) var(--spacing-07);
  }
}
