@charset "utf-8";
@import "mixin";


:root {
  --header-height: 3rem;
}

.top-nav {
  box-shadow: var(--shadow-sm);
  border-bottom: 1px solid var(--border-strong-01);
}


.blog-posts {

  .post-list {
    margin-top: var(--spacing-07);
    .item {
      margin-bottom: var(--spacing-07);
    }
  }

}

.js-scroll-nav {
  color: var(--text-primary);
}
