.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: var(--spacing-08);
  align-items: stretch;
  margin-top: var(--spacing-09);
}

.card {
  height: 100%;
}

.card-wrapper {
  position: relative;
  --link-decoration: none;
  --link-decoration-hover: none;
}
.card-wrapper goat-card {
  padding: 0;
}
.card-wrapper:hover {
  border-radius: var(--border-radius);
  transition: linear .2s;
  box-shadow: 6px 6px 0 var(--active-ui);
}

.up-coming-title {
  margin-top: var(--spacing-09);
}
.up-coming {
  margin-top: var(--spacing-02);
}

@media (max-width: 671px) {
  .card-wrapper {
    width: 100%;
  }
  .cards {
    gap: var(--spacing-08);
  }
}

.card-wrapper .header {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14rem;
}

.card-wrapper .header goat-image {
  max-width: 100%;
  max-height: 100%;
}

.card-wrapper .header:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  pointer-events: unset;
}

.card-wrapper .body {
  height: 100%;
  background: var(--layer-01);
}

.text {
  --text-color: var(--text-primary);
}


.hidden {
  display: none;
}

.hidden-force {
  display: none;
}

goat-card > goat-card-content:first-child {
  background: var(--background);
}
