@charset "utf-8";
@import "mixin.scss";
@import "device-utils.scss";

:root {
  --header-height: 3rem;
}


.top-nav {
  box-shadow: var(--shadow-sm);
  border-bottom: 1px solid var(--border-strong-01);
}

.main-content {
  margin-top: var(--header-height);
  position: relative;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
}

.page-container {
  flex: 1;
}

.categories {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: var(--spacing-04);

  .category {
    cursor: pointer;
  }

  .selected-icon {
    display: none;
    padding-inline-start: .5rem;
  }

  .category[selected] .selected-icon {
    display: block;
  }
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--spacing-08);
  align-items: stretch;
  margin-top: var(--spacing-08);
}

.card {
  height: 100%;
}


.card-wrapper {

  position: relative;
  --link-decoration: none;
  --link-decoration-hover: none;

  goat-card {
    padding: 0;
  }

  .component-title {
    margin-bottom: var(--spacing-02);
  }

  .component-category-container {
    padding-bottom: var(--spacing-06);
  }

  .header {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14rem;

    goat-image {
      max-width: 100%;
      max-height: 100%;
    }
  }


  .header:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    pointer-events: unset;
  }


  .body {
    height: 100%;
    background: var(--code-bg-primary);
    display: flex;
    flex-direction: column;

    .component-description {
      flex: 1;
    }
  }
}



.card-wrapper:hover {
  border-radius: var(--border-radius);
  transition: linear .2s;
  box-shadow: 6px 6px 0 var(--layer-accent-active-01);
}

.up-coming-title {
  margin-top: var(--spacing-09);
}

.up-coming {
  margin-top: var(--spacing-02);
}

@media (max-width: 671px) {
  .card-wrapper {
    width: 100%;
  }
  .cards {
    gap: var(--spacing-08);
  }
}

.hidden {
  display: none;
}

.hidden-force {
  display: none;
}

#search-container {
  position: sticky;
  top: 100px;
  z-index: 100;

  &.scrolled {
    padding: 1rem;
    transition: transform 3s ease-in-out;

    #component-search {
      box-shadow: var(--shadow-xl);
      border-radius: var(--input-border-radius);
    }
  }
}
