---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "mixin";
@import "device-utils";

:root {
  --header-height: 3rem;
}

.top-nav {
  box-shadow: var(--shadow-sm);
  border-bottom: 1px solid var(--border-strong-01);
}


.sidenav {
  width: 20rem;
  position: fixed;
  top: var(--header-height);
  background: var(--layer-01);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
}

.sidenav-components {
  padding-bottom: 0.5rem;
}

.category-name {
  margin: 0 1rem;
  padding: 1.5rem 0 0.5rem 0;
  border-bottom: 1px solid var(--border-color);
}

.sidenav-link {
  padding: 0.5rem 1rem;
  width: 100%;
  text-decoration: none;
  color: var(--text-primary);
  display: inline-block;
  font-size: var(--text-lg-font-size);
}

.sidenav-link:hover {
  background: var(--active-ui);
}

.sidenav-link.active {
  font-weight: 600;
  background: var(--background);
}

.main-content {
  margin-top: var(--header-height);
  margin-inline-start: 20rem;
  background: var(--layer-02);
  position: relative;
}

.page-container {
  padding: var(--spacing-07) var(--spacing-05);
}

@include for-tablet-landscape-up {
  .page-container {
    padding: var(--spacing-09) var(--spacing-07);
  }
}

goat-tab-panel {
  padding-top: 1rem;
}

pre[class*='language-'] {
  margin: 0;
}

.usage-tab {
  display: flex;
  gap: 1rem;
}

.component-content {
  flex: 1;
  width: calc(100% - 360px);
}

.section-nav {
  width: 23rem;
}

.section-nav goat-menu {
  --list-background: var(--layer-01);
}

.component-section > goat-text[type="body"] {
  margin-bottom: var(--spacing-05);
}

.component-content .component-description {
  margin-bottom: var(--spacing-09);
}

.component-section {
  margin-bottom: var(--spacing-09);
}

.component-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-05);
  flex-wrap: wrap;
  gap: 1rem;
}



.section-nav .link {
  width: 100%;
}

.playground-container {
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
  background: var(--background);
}

.playground {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  height: 400px;
}

.demo-canvas .demo-area {
  display: flex;
  padding: var(--spacing-09);
  align-items: center;
  justify-content: center;
}

#demo-area {
  display: flex;
  height: 100%;
  flex: 1;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-inline-end: 1px solid var(--border-color);
}

#demo-controls {
  height: 100%;
  width: 20rem;
  padding: 1rem;
}

@media only screen and (max-width: 1055px) {
  .sidenav {
    width: 100%;
    position: inherit;
    overflow: initial;
  }

  .main-content {
    margin-inline-start: 0;
  }

  #dir-switcher {
    display: none;
  }

  .sidenav.m-hide,
  .main-content.m-hide {
    display: none;
  }
  .section-nav {
    display: none;
  }
  .component-content {
    width: 100%;
  }
}

.js-scroll-nav {
  color: var(--text-primary);
}
