@import "../../../../globalStyles/commons";

:host {
  display: block;
}

.canvas-wrapper {
  width: max-content;
}

.line {
  stroke: v(--border-color);

  &.clickable {
    cursor: pointer;
    &:hover {
      stroke: v(--color-primary);
    }
    z-index: 1;
  }
}
