@import "../../../../globalStyles/commons";

:host {
  display: block;
}

.canvas-wrapper {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='8d8d8d' class='bi bi-dot' viewBox='0 0 16 16'%3E%3Cpath d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/%3E%3C/svg%3E");
  width: max-content;
}

.line {
  stroke: v(--border-color);

  &.clickable {
    cursor: pointer;
    &:hover {
      stroke: v(--color-primary);
    }
    z-index: 1;
  }
}
