@use "sass:map";
@import "../../globalStyles/commons";

$input-background-color: var(--input-background-color, #{v(--field-01)});


:host {
  display: block;
  width: 100%;
  margin-bottom: v(--spacing-03);
  --input-border-radius: #{v(--border-radius)};
  --input-border-style: solid;
  color: v(--text-primary);
}

:host([inline]) {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
}

.form-control {
  display: flex;
  flex-direction: column;

  .label {
    @include font-style(text-sm);
    font-weight: v(--font-weight-medium);
    margin-bottom: 0.375rem;

    color: v(--text-secondary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .required {
      color: v(--danger-02);
      padding-right: v(--spacing-01);
    }
  }


  .helper {
    margin-block-start: v(--spacing-02);
    @include font-style(helper-text-01);

    &.text {
      color: v(--text-helper);
    }

    &.invalid {
      color: v(--support-error-inverse);
    }

    &.warn {
      color: v(--support-warning-inverse);
    }
  }

  &.inline {
    flex-direction: row;
    align-items: center;

    .label {
      margin-bottom: 0;
      margin-inline-end: v(--spacing-04);
    }
  }

}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $input-background-color;
  border: 1px var(--input-border-style) v(--border-strong-01);
  border-radius: var(--input-border-radius);
  overflow: hidden;
  cursor: text;
  font-weight: var(--font-weight-regular);

  .input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    cursor: inherit;
    color: v(--text-primary);
    padding: 0 v(--spacing-05);

    /*
     * Font styles
     */
    font-size: 0.875rem;

    line-height: 1.28572;
    letter-spacing: 0.16px;

    &::placeholder {
      color: v(--text-placeholder);
    }
  }

  .slot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    slot::slotted(*) {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
      color: v(--color-neutral-400);

      goat-icon {
        --color: #{v(--color-neutral-400)};
      }
    }

  }

  .slot-container.start {
    margin-inline-start: 1rem;
  }

  .slot-container.end {
    margin-inline-end: 1rem;
    margin-inline-start: .5rem;
  }

  &.start-slot-has-content {
    .input {
      padding-inline-start: .5rem;
    }
  }

  &.end-slot-has-content {
    .input {
      padding-inline-end: .5rem;
    }
  }

  &:not(.start-slot-has-content) {
    .slot-container.start {
      display: none;
    }
  }

  &:not(.end-slot-has-content) {
    .slot-container.end {
      display: none;
    }
  }

  .input-action {
    cursor: pointer;
    --button-padding: .625rem;

    &:hover {
      --text-color: var(--text-secondary);
    }
  }

  slot::slotted(*) {
    font-size: 0.875rem;
  }
}

:host(.bg-light) .input-container {
  background-color: v(--field-02);
}


/**
 * States
 */
.input-container.has-focus {
  @include focus-ring;
  border-color: transparent;
}

:host([warn]) {
  .input-container {
    border-color: v(--support-warning);

    &.has-focus {
      @include focus-ring(v(--support-warning));
    }
  }
}

:host([invalid]) {
  .input-container {
    border-color: v(--support-error);

    &.has-focus {
      @include focus-ring(v(--support-error));
    }
  }
}

:host(.no-border) {
  .input-container {
    border-color: transparent;
  }
}

:host(.bg-light) {
  .input-container {
    background-color: v(--field-02);
  }
}

/**
 * Sizes
 */
.input-container {
  goat-button {
    height: 100%;
    --button-height: 100%;
    --button-border-radius: 0;
  }
}
:host([size="sm"]) .input-container {
  height: var(--input-height, 2rem);
}

:host([size="md"]) .input-container {
  height: var(--input-height, 2.5rem);
}

:host([size="lg"]) .input-container {
  height: var(--input-height, 3rem);
}


:host([success]) {
  .input-container {
    border-color: v(--color-success);
  }
}

:host([error]) {
  .input-container {
    border-color: v(--color-error);
    box-shadow: 0 0 0 0.25rem rgba(#ef4444, 25%);
  }
}

:host([readonly]) {
  .input-container {
    cursor: initial;
    background-color: v(--disabled-01) !important;
    border-color: v(--disabled-01) !important;
    opacity: 1 !important;
  }
}

:host([disabled]) {
  .input-container {
    cursor: not-allowed;
    background-color: v(--disabled-01) !important;
    border-color: v(--disabled-01) !important;
    opacity: 1 !important;

    .input {
      color: v(--text-disabled) !important;
    }
  }

  color: v(--text-disabled) !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
