@import "../../styles/scss/commons";


:host {
  display: block;
  --table-border-radius: #{v(border-radius)};
}

.table-component {
  @include font-variant(p1);

  border: 1px solid v(color-neutral-200);
  box-sizing: border-box;
  border-radius: var(--table-border-radius);
  overflow:hidden;
  height: 100%;

  .list-scroll-wrapper {
    position: relative;
    z-index: v(z-index-table-header);
    overflow: auto;
    height: 100%;
    width: 100%;
    min-height: 20em;

    .header {
      z-index: 1; // related to parent element
      @include font-variant(caption);
      font-weight: v(font-weight-semi-bold);
      @include font-capitalize;
      position: absolute;
      left: 0;
      top: 0;
      .col {
        background: v(color-neutral-50);
      }
    }

    .body {
      position: absolute;
      padding-top: 100px; //$body-padding-top;
    }

    .checkbox {
      padding-bottom: 0;
    }

    .body-container {
      position: relative;
    }

    .left-panel {
      position: absolute;
    }

    .table {
      display: table;
      line-height: normal;

      .row {
        display: table-row;
        line-height: normal;
      }

      .col {
        margin: 0;
        display: table-cell;
        border-right: 1px solid v(color-neutral-200);
        border-bottom: 1px solid v(color-neutral-200);
        padding: v(space-3) v(space-6);
        box-sizing: border-box;
        vertical-align: middle;
        line-height: normal;
      }
    }



    .body .row .col {
      cursor: pointer;
      background: white;

      .col-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.col-hover {
        background: v(color-success-50);
      }
    }


    .right-panel {
      .table {
        width: 100%;
        table-layout: fixed;

        .col:last-child {
          border-right: none;
        }
      }
    }

    .empty-data {
      text-align: center;
      position: absolute;
      margin: auto;
      top: 46px;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      height: max-content;
      color: v(color-neutral-600);
    }

  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  :hover {
    background: #555;
  }
}
