@import "../../../globalStyles/commons";

:host {
  display: inline-block;
}

.icon {
  line-height: 0;
  color: var(--icon-color, var(--text-primary));
}

:host(.inherit) .icon {
  color: inherit;
}
