---
interface Props {
  sections: any;
}

const { sections } = Astro.props;
---

<div class="section-nav">
  <div class="section-nav-content">
    <goat-tree-view id="overview-navigation" layer="01">
      {
        sections.map((section: any) => {
          const sectionValue = section.title.toLowerCase().replaceAll(' ', '-').replaceAll('/', '-');
          return <goat-tree-node layer="01" label={section.title} value={`section-${sectionValue}`} href={`#section-${sectionValue}`} />
        })
      }
    </goat-tree-view>

    <script>
      const overviewNavigation = document.getElementById('overview-navigation');

      const nodes = overviewNavigation?.querySelectorAll('goat-tree-node');
      if (nodes?.length) {
        //@ts-ignore
        let selectedNode = location.hash?.replace("#", "");

        //@ts-ignore
        if (!selectedNode) selectedNode = nodes[0].value;

        //@ts-ignore
        overviewNavigation.selectedNode = selectedNode;
      }
    </script>

    <ins class="adsbygoogle" data-ad-client="ca-pub-3120721550776061" data-ad-slot="1398164690" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
      const interval = window.setInterval(() => {
        if (window.document.documentElement.classList.contains('hydrated')) {
          window.clearInterval(interval);

          setTimeout(function () {
            const script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3120721550776061';
            script.crossOrigin = 'anonymous';
            script.async = true;
            document.body.appendChild(script);
          }, 800);
        }
      }, 300);
    </script>
  </div>
</div>
