@import "../../../globalStyles/commons";


:host {
  display: block;
  margin-bottom: var(--spacing-03);
}


:host(:not([inline])) {
  width: 18rem;
}

.notification {
  border-style: solid;
  border-color: transparent;
  display: flex;

  .state-icon {
    padding: 0.875rem var(--spacing-04);
    line-height: 0;
  }

  .content {
    flex: 1;
    padding-block: var(--spacing-04);

    .title {
      @include font-style(heading-compact-01);
      word-break: break-word;
    }

    .subtitle {
      @include font-style(body-compact-01);
      word-break: break-word;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: var(--spacing-04);
      padding-top: 1.5rem;

      .action {
        --goat-button-border-radius: none;
      }
    }
  }


  &.inline .content {
    display: flex;
    padding-block: 0;

    .content-text {
      flex: 1;
      padding-block: var(--spacing-04);

      .title, .subtitle {
        display: inline;
      }

      .title slot::slotted(*), .subtitle slot::slotted(*) {
        display: inline;
      }


    }

    .actions {
      padding-top: 0;
      padding-inline-end: var(--spacing-03);
    }
  }


  .close-button {
    margin: 0;
    --goat-button-padding: .75rem;
    --goat-button-height: 3rem;
    --goat-button-border-radius: none;
  }
}

:host(:not([dismissible])) .content {
  padding-inline-end: var(--spacing-04);
}


@mixin alertState($color, $dark) {
  @if $dark {
    .alert {
      background-color: var(--color-#{$color});

      .content {
        .message {
          color: white;
          --link-color: white;
        }

        .description {
          color: var(--text-primary);
        }
      }
    }
  } @else {
    .alert {
      background-color: var(--color-#{$color}-20);

      .content {
        .message {
          color: var(--color-#{$color}-70);
          --link-color: var(--color-#{$color}-70);
        }

        .description {
          color: var(--text-secondary);
        }
      }
    }
  }
}

@each $state in [info, success, warning, error] {

  .notification.state-#{$state} {

    &.high-contrast {
      border-left-color: var(--support-#{$state}-inverse);
      color: var(--text-inverse);
      background: var(--background-inverse);
      border-width: 0 0 0 3px;

      .close-button {
        .icon {
          color: var(--text-inverse);
        }
      }

      .state-icon {
        color: var(--support-#{$state}-inverse);
      }
    }

    &:not(.high-contrast) {
      color: var(--color-neutral-100);
      border-color: var(--support-#{$state});
      background: var(--color-#{$state}-10);
      border-width: 1px 1px 1px 3px;

      .close-button {
        .icon {
          --icon-color: var(--color-neutral-100);
        }
      }

      .state-icon {
        color: var(--support-#{$state});
      }
    }
  }

}
