<goat-card>
  <goat-card-content>
    <goat-code-highlighter line-numbers language="javascript">
<pre><code>
      const helloWorld = () => alert ('Hello World!');
      export { helloWorld };
</code></pre>
    </goat-code-highlighter>
  </goat-card-content>

  <goat-card-content class='no-padding'>
    <goat-code-highlighter language="html">
      <pre><code>
<goat-code-highlighter line-numbers language="javascript">
<pre><code>
      const helloWorld = () => alert ('Hello World!');
      export { helloWorld };
</code></pre>
</goat-code-highlighter>
      </code></pre>
    </goat-code-highlighter>
  </goat-card-content>
</goat-card>
