@import "../../../globalStyles/commons";

:host {
  display: block;
  height: 100%;
  min-height: 20em;
  --calendar-border-color: #{v(--ui-04)};
  --scale-color: #{v(--text-placeholder)}
}

.calendar {
  height: 100%;
  display: flex;
  flex-direction: column;

  .calendar-header {
    .calendar-header-classic {
      display: flex;
      padding: 1rem;

      .header-left {
        display: flex;
        gap: 1rem;
        flex: 1;

        .title {
          display: flex;
          align-items: center;
        }
      }
    }

    goat-select {
      margin-bottom: 0;
    }
  }

  .calendar-body {
    flex: 1;
    overflow: auto;

    .view-container {
      height: 100%;
    }
  }
}
