@import "../../../globalStyles/commons";

:host {
  display: block;
  height: 100%;
  min-height: 20em;
  --calendar-border-color: #{v(--ui-04)};
}

.calendar {
  height: 100%;
  display: flex;
  flex-direction: column;

  .calendar-header {
    .calendar-header-classic {
      display: flex;
      padding: 1rem;

      .header-left {
        display: flex;
        gap: 1rem;
        flex: 1;
      }
    }

    goat-select {
      margin-bottom: 0;
    }
  }

  .calendar-body {
     flex: 1;
  }
}

.scale {
  width: 2rem;
}


.calendar-column-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  .view-header {
    border-top: 1px solid v(--border-color);
    display: flex;

    .scale {
      border-bottom: 1px solid v(--border-color);
      border-right: 1px solid v(--border-color);
    }

    .columns {
      display: flex;
      flex: 1;
      border-bottom: 1px solid v(--border-color);

      .column {
        flex: 1;


        border-right: 1px solid v(--border-color);


        .column-content {
          display: flex;
          border-top: .5rem solid transparent;
          align-items: center;
          padding: .5rem;
          gap: .5rem;
        }

        &.active {
          .column-content {
            border-top-color: v(--color-primary);

            .date {
              color: v(--color-primary);
            }
          }
        }

        .date {
          font-size: 2rem;
          cursor: pointer;
          border-radius: 100%;
          padding: 0.5rem;

          &:hover {
            background: v(--color-primary-30);
          }
        }

        .day {
          font-size: 1rem;
        }
      }
    }

    .scrollbar {
      width: 1rem
    }
  }

  .view-body {
    height: 100%;
    overflow-y: scroll;
    display: flex;

    .columns {
      flex: 1;
    }

    .scale {
      border-bottom: 1px solid v(--border-color);
      border-right: 1px solid v(--border-color);
    }
  }

  .row {
    display: block;
    height: 2rem;
    border-bottom: 1px solid v(--border-color);
  }

}
