@import "../../../styles/scss/commons";

:host {
  display: inline-block;
  .spinner path {
    fill: currentColor;
  }
}

.spinner {
  line-height: 0;
}



@mixin colorType($color) {
  .spinner path {
    fill: v(--color-#{$color}-500);
  }
}

:host {
  .spinner path {
    fill:  var(--text-color, v(--text-color-primary));
  }
}

@each $color in [primary, info, success, warning, error] {
  :host-context(.text-color-#{$color}) {
    @include colorType($color);
  }
}

@keyframes rainbow {
  0%   {fill:v(--color-primary-500);}
  20%  {fill:v(--color-success-500);}
  40%  {fill:v(--color-warning-500);}
  60%  {fill:v(--color-error-500);}
  80% {fill:v(--text-color-primary);}
  100% {fill:v(--color-primary-500);}
}

:host(.rainbow) .spinner path {
  fill: v(--color-primary-500);
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
