@import "../../../styles/scss/commons";

:host {
  display: inline-block;
  --color: #{v(--color-grey-900)};

  .spinner path {
    fill: var(--color);
  }
}

.spinner {
  line-height: 0;
}

:host([color="primary"]) .spinner path {
  fill: v(--color-primary-500);
}

:host([color="success"]) .spinner path {
  fill: v(--color-success-500);
}


:host([color="warning"]) .spinner path {
  fill: v(--color-warning-500);
}

:host([color="error"]) .spinner path {
  fill: v(--color-error-500);
}

