@import "../../../styles/scss/commons";

:host {
  display: block;
  margin-bottom: v(--space-3);
}

.alert {
  border-radius: v(--border-radius);
  display: flex;
  padding: 0.625rem 1.125rem;

  .content {
    flex: 1;

    .message {
      @include font-style(text-md);
    }

    .description {
      @include font-style(text-sm);
    }
  }

  .close-btn {
    margin: 0;
  }
}


@mixin alertState($color, $dark) {
  @if $dark {
    .alert {
      background-color: v(--color-#{$color}-500);

      .content {
        .message {
          color: white;
        }

        .description {
          color: v(--color-neutral-100);
        }
      }
    }
  } @else {
    .alert {
      background-color: v(--color-#{$color}-100);

      .content {
        .message {
          color: v(--color-#{$color}-600);
        }

        .description {
          color: v(--text-color-secondary);
        }
      }
    }
  }
}

@each $state in [info, success, warning, error] {
  :host([state="#{$state}"]) {
    @include alertState($state, false);
  }
  :host-context([data-theme="dark"]):host([state="#{$state}"]) {
    @include alertState($state, true);
  }
}
