@import "../../../globalStyles/commons";

:host {
  display: inline-block;
  height: var(--dropdown-height, auto);
}

.dropdown {
  display: inline-block;
  height: var(--dropdown-height, auto);

  goat-menu {
    --goat-menu-shadow: none;
  }

  --goat-popover-tiptab-padding: 0;

  .dropdown-content {
    --popover-content-padding: 0;
  }

  .dropdown-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    .slot-container {
      height: 100%;
    }
  }
}
