@import "../../../styles/scss/commons";


@mixin buttonVariant($darker, $variantColor) {

  @if $darker {
    color: v(--color-white);
  } @else {
    color: v(--primary-text-color);
  }
  background: v(--color-#{$variantColor}-500);
  border-color: v(--color-#{$variantColor}-500);

  &:hover {
    background: v(--color-#{$variantColor}-600);
    border-color: v(--color-#{$variantColor}-600);
  }


  &.active, &.selected {
    background: v(--color-#{$variantColor}-800);
    border-color: v(--color-#{$variantColor}-800);
    @if $darker == false {
      color: v(--color-white);
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: v(--color-white) !important;
    background: v(--color-#{$variantColor}-200) !important;
    border-color: v(--color-#{$variantColor}-200) !important;

  }
}

@mixin buttonLight($variantColor) {

  color: v(--color-#{$variantColor}-700);

  background: v(--color-#{$variantColor}-50);
  border-color: v(--color-#{$variantColor}-50);

  &:hover {
    background: v(--color-#{$variantColor}-100);
    border-color: v(--color-#{$variantColor}-100);
  }

  &.active, &.selected {
    background: v(--color-#{$variantColor}-800);
    border-color: v(--color-#{$variantColor}-800);
    color: v(--color-white);
  }

  &.disabled {
    cursor: not-allowed;
    color: v(--color-white) !important;
    background: v(--color-#{$variantColor}-200) !important;
    border-color: v(--color-#{$variantColor}-200) !important;
  }
}

@mixin buttonOutline($variantColor) {

  color: v(--color-#{$variantColor}-500);
  background: transparent;
  border-color: v(--color-#{$variantColor}-500);

  &:hover {
    color: v(--color-#{$variantColor}-600);
    border-color: v(--color-#{$variantColor}-600);
  }

  &.active {
    color: v(--color-#{$variantColor}-800);
    background: v(--color-#{$variantColor}-50);
    border-color: v(--color-#{$variantColor}-800);
  }
  &.selected {
    color: v(--color-#{$variantColor}-900);
    background: v(--color-#{$variantColor}-100);
    border-color: v(--color-#{$variantColor}-900);
  }
  &.disabled {
    cursor: not-allowed;
    color: white !important;
    background: v(--color-#{$variantColor}-200) !important;
    border-color: v(--color-#{$variantColor}-400) !important;
  }
}

@mixin buttonLink($variantColor) {

  color: v(--color-#{$variantColor}-500);

  background: transparent;
  border-color: transparent;

  &:hover {
    background: v(--color-#{$variantColor}-100);
  }


  &.active {
    background: v(--color-#{$variantColor}-700);
    border-color: v(--color-#{$variantColor}-700);
    color: v(--color-white);
  }

  &.disabled {
    cursor: not-allowed;
    color: v(--color-grey-400) !important;
    background: transparent !important;
    border-color: transparent !important;
  }
}

@function removeBorder($width) {
  @return #{($width*1 - 0.0625)}rem;
}
