@import "../../../styles/scss/commons";
@import "./button-utils";


:host {
  display: inline-block;
  --button-border-style: solid;
}

.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  border: 0.0625rem var(--button-border-style) transparent;
  border-radius: v(--border-radius);
  gap: v(--space-2);

  .slot-container {
    width: 100%;
    display: none;
  }

  &.has-content .slot-container {
    display: block;
  }
}


/**
  * SIZES
  */
.button.size-sm, .button.size-small {
  padding: removeBorder(0.5);
  @include font-style(text-sm);
  font-weight: v(--font-weight-medium);

  &.has-content {
    padding: removeBorder(0.5) removeBorder(0.875);
  }
}


.button.size-md, .button.size-medium {
  padding: removeBorder(0.625);
  @include font-style(text-sm);
  font-weight: v(--font-weight-medium);

  &.has-content {
    padding: removeBorder(0.625) removeBorder(1.125);
  }
}

.button.size-lg, .button.size-large {
  padding: removeBorder(0.625);
  @include font-style(text-md);
  font-weight: v(--font-weight-medium);

  &.has-content {
    padding: removeBorder(0.625) removeBorder(1);
  }
}

.button.size-xl {
  padding: removeBorder(0.75);
  @include font-style(text-md);
  font-weight: v(--font-weight-medium);

  &.has-content {
    padding: removeBorder(0.75) removeBorder(1.25);
  }
}

.button.size-xxl {
  padding: removeBorder(1);
  @include font-style(text-lg);
  font-weight: v(--font-weight-medium);

  &.has-content {
    padding: removeBorder(1) removeBorder(1.75);
  }
}

/**
  * Variants
  */
.button.color-primary {
  &.variant-default {
    @include buttonVariant(true, primary);
  }

  &.variant-light {
    @include buttonLight(primary);
  }

  &.variant-link {
    @include buttonLink(primary);
  }

  &.variant-outline {
    @include buttonOutline(primary);
  }
}


.button.color-success {
  &.variant-default {
    @include buttonVariant(true, success);
  }

  &.variant-light {
    @include buttonLight(success);
  }

  &.variant-link {
    @include buttonLink(success);
  }

  &.variant-outline {
    @include buttonOutline(success);
  }
}

.button.color-warning {
  &.variant-default {
    @include buttonVariant(true, warning);
  }

  &.variant-light {
    @include buttonLight(warning);
  }

  &.variant-link {
    @include buttonLink(warning);
  }

  &.variant-outline {
    @include buttonOutline(warning);
  }
}

.button.color-error {
  &.variant-default {
    @include buttonVariant(true, error);
  }

  &.variant-light {
    @include buttonLight(error);
  }

  &.variant-link {
    @include buttonLink(error);
  }

  &.variant-outline {
    @include buttonOutline(error);
  }
}

.button.color-secondary {

  color: v(--primary-text-color);

  .spinner, .icon {
    color: #{--primary-text-color};
  }

  background: white;
  border-color: v(--color-grey-900);

  &:hover {
    background: v(--color-grey-100);
  }

  &.active {
    background: v(--color-grey-200);
  }

  &.selected {
    background: v(--color-grey-300);
  }

  &.disabled {
    cursor: not-allowed;
    color: v(--color-grey-400) !important;
    background: v(--color-grey-100) !important;
    border-color: v(--color-grey-400) !important;

    .spinner, .icon {
      color: #{v(--color-grey-400)} !important;
    }
  }
}

.button.has-focus:not(.active) {
  @include focus-ring;
}

.button.block {
  display: block;

  .spinner {
    margin: auto;
  }
}


.button.icon-end {
  flex-direction: row-reverse;
}


