@import "../../../styles/scss/commons";
@import "./button-utils";


:host {
  display: inline-block;
  margin-bottom: v(--space-3);
  margin-inline-end: v(--space-3);
  --button-border-style: solid;
}

.button {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  border: 1px var(--button-border-style) transparent;
  border-radius: v(--border-radius);

  .slot-container {
    width: 100%;
  }
}


/**
  * SIZES
  */
:host([size="sm"]) .button, :host([size="small"]) .button {
  padding: removeBorder(0.5);
  @include font-style(text-sm);
  font-weight: v(--font-weight-medium);

  &.slot-has-content {
    padding: removeBorder(0.5) removeBorder(0.875);
  }
}


:host([size="md"]) .button, :host([size="medium"]) .button {
  padding: removeBorder(0.625);
  @include font-style(text-sm);
  font-weight: v(--font-weight-medium);

  &.slot-has-content {
    padding: removeBorder(0.625) removeBorder(1.125);
  }
}

:host([size="lg"]) .button, :host([size="large"]) .button {
  padding: removeBorder(0.625);
  @include font-style(text-md);
  font-weight: v(--font-weight-medium);

  &.slot-has-content {
    padding: removeBorder(0.625) removeBorder(1);
  }
}

:host([size="xl"]) .button {
  padding: removeBorder(0.75);
  @include font-style(text-md);
  font-weight: v(--font-weight-medium);

  &.slot-has-content {
    padding: removeBorder(0.75) removeBorder(1.25);
  }
}

:host([size="xxl"]) .button {
  padding: removeBorder(1);
  @include font-style(text-lg);
  font-weight: v(--font-weight-medium);

  &.slot-has-content {
    padding: removeBorder(1) removeBorder(1.75);
  }
}

/**
  * Variants
  */
:host([color="primary"]) {
  &:host([variant="default"]) {
    @include buttonVariant(true, primary);
  }

  &:host([variant="light"]) {
    @include buttonLight(primary);
  }

  &:host([variant="link"]) {
    @include buttonLink(primary);
  }

  &:host([variant="outline"]) {
    @include buttonOutline(primary);
  }
}

:host([color="success"]) {
  &:host([variant="default"]) {
    @include buttonVariant(true, success);
  }

  &:host([variant="light"]) {
    @include buttonLight(success);
  }

  &:host([variant="link"]) {
    @include buttonLink(success);
  }

  &:host([variant="outline"]) {
    @include buttonOutline(success);
  }
}

:host([color="warning"]) {
  &:host([variant="default"]) {
    @include buttonVariant(true, warning);
  }

  &:host([variant="light"]) {
    @include buttonLight(warning);
  }

  &:host([variant="link"]) {
    @include buttonLink(warning);
  }

  &:host([variant="outline"]) {
    @include buttonOutline(warning);
  }
}

:host([color="error"]) {
  &:host([variant="default"]) {
    @include buttonVariant(true, error);
  }

  &:host([variant="light"]) {
    @include buttonLight(error);
  }

  &:host([variant="link"]) {
    @include buttonLink(error);
  }

  &:host([variant="outline"]) {
    @include buttonOutline(error);
  }
}

:host([color="secondary"]) {
  .button {
    color: v(--color-grey-900);

    .spinner, .icon {
      color: #{--color-grey-900};
    }

    background: white;
    border-color: v(--color-grey-900);

    &:hover {
      background: v(--color-grey-100);
    }
  }

  &:host([active]) {
    .button {
      background: v(--color-grey-200);
    }
  }

  &:host([selected]) {
    .button {
      background: v(--color-grey-300);
    }
  }

  &:host([disabled]) {
    .button {
      cursor: not-allowed;
      color: v(--color-grey-400) !important;
      background: v(--color-grey-100) !important;
      border-color: v(--color-grey-400) !important;

      .spinner, .icon {
        color: #{v(--color-grey-400)} !important;
      }
    }
  }
}


:host([focused]:not([active])) {
  .button {
    @include focus-ring;
  }
}

:host([icon]) {
  .button.slot-has-content {
    gap: v(--space-2);
  }
}

:host([block]) {
  display: block;

  .spinner {
    margin: auto;
  }
}

:host([icon-end]) {
  .button {
    flex-direction: row-reverse;
  }
}

