@import "../../../3d-party/prism/prism";
@import "../../../3d-party/prism/prism-line-numbers";
@import "../../../globalStyles/commons";


:host {
  display: block;
  height: 100%;
}

.code-loader {
  height: 10rem;
  background-color: v(--field-01);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: v(--spacing-02);
}

.code-highlighter {
  position: relative;
  height: 100%;
  background-color: var(--code-highlighter-background, v(--color-purple-10));
  color: v(--text-primary);
  .scroll-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: v(--spacing-05);

    .line-numbers-wrapper {
      height: 100%;
      position: relative;

      &.line-numbers {
        margin-left: 3.8rem;
      }

      @include font-style(text-sm);
      .highlighter {
        margin: 0;
      }
    }
  }

  .copy-btn {
    position: absolute;
    top: 0.675rem;
    right: v(--spacing-03);
  }

  .icon-only {
    --button-padding: .5rem;
  }
}


:host-context([data-theme="dark"]) .code-highlighter {
  background-color: var(--code-highlighter-background-dark, v(--color-purple-100));
}
