@import "../../../styles/scss/commons";

:host {
  display: block;

}

.header {
  --private-header-height: var(--header-height, #{v(--spacing-12)});
  height: var(--private-header-height);
}

.header-content {
  box-sizing: border-box;
  display: flex;
  height: 100%;

  .section {
    display: flex;
    align-items: center;
  }
}

.left-section {
  flex: 1;

  .brand-link {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    border: 2px solid transparent;

    &:focus {
      outline: none;
      border-color: v(--color-primary);
    }
  }

  .brand {
    display: flex;
    align-items: center;
    gap: v(--spacing-3);
    height: 100%;
    padding: 0 v(--spacing-5);
    font-weight: v(--font-weight-bold);

    .logo {
      height: 2rem;
    }
  }

  .page-title-divider {
    height: 66%;
  }

  .page-title {
    padding: 0 v(--spacing-2);
  }
}


.right-section {
  background-color: v(--color-white);

  slot::slotted(*) {
    height: 100%;
    display: flex;
    align-items: center;
    --dropdown-height: var(--private-header-height);
  }
}

/*
 * Colors
 */
:host {
  .header {
    background-color: v(--color-white);

    .left-section {

      .brand {
        color: v(--color-brand-primary);
      }
      .page-title {
        color: v(--color-neutral-50);
      }
    }
    slot::slotted(*) {
      --button-text-color: #{v(--text-01)};
      --button-color: #{v(--color-white)};

      --button-color-hover: #{v(--color-neutral-30)};
      --button-text-color-hover: #{v(--text-01)};

      --button-color-active: #{v(--color-brand-primary-80)};
      --button-text-color-active: #{v(--color-brand-secondary-60)};

      --button-color-focus: #{v(--color-brand-primary)};
      --button-border-radius: 0;
      --button-height: 100%;
    }
  }
}

:host-context([data-theme="dark"]) {
  .header {
    background-color: v(--color-black);
  }
  slot::slotted(*) {
    --button-color: #{v(--color-black)};
  }
}


:host(.brand) {
  $bg-color: v(--color-brand-secondary);
  $text-color: v(--color-brand-primary);
  .header {
    background-color: $bg-color;
    slot::slotted(*) {
      --button-text-color: #{$text-color};
      --button-color: #{$bg-color};

      --button-color-hover: #{v(--color-brand-primary-70)};
      --button-text-color-hover: #{v(--color-brand-secondary-70)};

      --button-color-active: #{v(--color-brand-primary-80)};
      --button-text-color-active: #{v(--color-brand-secondary-60)};

      --button-color-focus: #{v(--color-brand-primary)};
      --button-border-radius: 0;
      --button-height: 100%;
    }
  }
}


