@use "sass:map";

$colors: (
  grey: (
    50: #F9FAFB,
    100: #F2F4F7,
    200: #EAECF0,
    300: #D0D5DD,
    400: #98A2B3,
    500: #667085,
    600: #475467,
    700: #344054,
    800: #1D2939,
    900: #101828,
  ),
  yellow: (
    50: #FFFAEB,
    100: #FEF0C7,
    200: #FEDF89,
    300: #FEC84B,
    400: #FDB022,
    500: #F79009,
    600: #DC6803,
    700: #B54708,
    800: #93370D,
    900: #7A2E0E,
  ),
  red: (
    50: #FEF3F2,
    100: #FEE4E2,
    200: #FECDCA,
    300: #FDA29B,
    400: #F97066,
    500: #F04438,
    600: #D92D20,
    700: #B42318,
    800: #912018,
    900: #7A271A,
  ),
  green: (
    50: #ECFDF3,
    100: #D1FADF,
    200: #A6F4C5,
    300: #6CE9A6,
    400: #32D583,
    500: #12B76A,
    600: #039855,
    700: #027A48,
    800: #05603A,
    900: #054F31,
  ),
  blue-old: (
    50: #e8edfb,
    100: #bbcaf3,
    200: #8ea7ec,
    300: #6183e4,
    400: #3460dc,
    500: #1d4ed8,
    600: #173ead,
    700: #112f82,
    800: #0c1f56,
    900: #06102b,
  ),
  blue: (
    50: #EFF8FF,
    100: #D1E9FF,
    200: #B2DDFF,
    300: #84CAFF,
    400: #53B1FD,
    500: #2E90FA,
    600: #1570EF,
    700: #175CD3,
    800: #1849A9,
    900: #194185,
  ),
  blue-light: (
    50: #F0F9FF,
    100: #E0F2FE,
    200: #B9E6FE,
    300: #7CD4FD,
    400: #36BFFA,
    500: #0BA5EC,
    600: #0086C9,
    700: #026AA2,
    800: #065986,
    900: #0B4A6F,
  ),
  blue-green: (
    50: #f1fdfb,
    100: #e3faf8,
    200: #c8f5f0,
    300: #acf0e9,
    400: #91ebe1,
    500: #75e6da,
    600: #5eb8ae,
    700: #468a83,
    800: #2f5c57,
    900: #172e2c,
  ),
  dark: (
    50: #ECECF2,
    100: #DADAE6,
    200: #4C4F59,
    300: #424651,
    400: #60606A,
    500: #070708,
    600: #050506,
    700: #030305,
    800: #020204,
    900: #010103,
  ),
);

$colors: map-merge($colors, ("neutral":  map.get($colors, grey)));
$colors: map-merge($colors, ("primary":  map.get($colors, blue-old)));
$colors: map-merge($colors, ("secondary":  map.get($colors, blue-green)));

$colors: map-merge($colors, ("info":  map.get($colors, blue-light)));
$colors: map-merge($colors, ("success":  map.get($colors, green)));
$colors: map-merge($colors, ("warning":  map.get($colors, yellow)));
$colors: map-merge($colors, ("error":  map.get($colors, red)));

