$font-family-base: 'Inter', sans-serif;
$font-weights: (
  regular: normal,
  medium: 500,
  semi-bold: 600,
  bold: 700,
);

$typography: (
  text-xs: [0.75, 1.125, 0], // font-size, line-height, letter-spacing
  text-sm: [0.875, 1.25, 0],
  text-md: [1, 1.5, 0],
  text-lg: [1.125, 1.75, 0],
  text-xl: [1.25, 1.875, 0],
  display-xs: [1.5, 2, 0],
  display-sm: [1.875, 2.375, 0],
  display-md: [2.25, 2.75, 0],
  display-lg: [3, 3.75, -0.02],
  display-xl: [3.75, 4.625, -0.02],
);


