@use "sass:map";
@use "sass:list";

$font-family-base: 'Inter', sans-serif;
$font-weights: (
  regular: normal,
  medium: 500,
  semi-bold: 600,
  bold: 700,
);

$typography: (
  text-xs: [0.75, 1.125, 0], // font-size, line-height, letter-spacing
  text-sm: [0.875, 1.25, 0],
  text-md: [1, 1.5, 0],
  text-lg: [1.125, 1.75, 0],
  text-xl: [1.25, 1.875, 0],
  display-xs: [1.5, 2, 0],
  display-sm: [1.875, 2.375, 0],
  display-md: [2.25, 2.75, 0],
  display-lg: [3, 3.75, -0.02],
  display-xl: [3.75, 4.625, -0.02],
);

$typography-css-variables: ();

$typography-css-variables: map-merge($typography-css-variables, ("--font-family-base": $font-family-base));

@each $key, $value in $font-weights {
  $map: ();
  $map: map-merge($map, ("--font-weight-"+$key: $value));
  $typography-css-variables: map-merge($typography-css-variables, $map);
}

@each $key, $value in $typography {
  $map: ();
  $map: map-merge($map, ("--"+$key+"-font-size": #{list.nth($value,1)}rem));
  $map: map-merge($map, ("--"+$key+"-line-height": #{list.nth($value,2)}rem));
  $map: map-merge($map, ("--"+$key+"-letter-spacing": #{list.nth($value,3)}rem));
  $typography-css-variables: map-merge($typography-css-variables, $map);
}

