
$typography: (
  /* Font families. */
  font-family: ("Inter", sans-serif),

  /* Paragraph styles */
  font-family-paragraph: ("Inter", sans-serif),

  font-weight-regular: normal,
  font-weight-semi-bold: 600,
  font-weight-bold: bold,
  font-weight-extra-bold: 800,

  font-size-caption: 0.75rem,
  line-height-caption: 1.125rem,

  font-size-p1: 0.875rem,
  line-height-p1: 1.0625rem,

  font-size-p2: 1rem,
  line-height-p2: 1.5rem,

  font-size-p3: 1.125rem,
  line-height-p3: 1.375rem,

  font-size-subheading: 20px,
  line-height-subheading: 28px,

  font-size-h1: 48px,
  line-height-h1: 56px,

  font-size-h2: 39px,
  line-height-h2: 47px,

  font-size-h3: 33px,
  line-height-h3: 40px,

  font-size-h4: 28px,
  line-height-h4: 34px,

  font-size-h5: 23px,
  line-height-h5: 28px,

  font-size-h6: 19px,
  line-height-h6: 23px,
)


