@import 'color';
@import 'spacing';
@import 'shadow';
@import 'typography';
@import 'common';

$css-variables: ();

$css-variables: map-merge($css-variables, $color-css-variables);
$css-variables: map-merge($css-variables, $typography-css-variables);
$css-variables: map-merge($css-variables, $spacing-css-variables);
$css-variables: map-merge($css-variables, $shadows-css-variables);
$css-variables: map-merge($css-variables, $common-css-variables);
