@use "sass:map";
@use "sass:list";
@import 'color';
@import 'spacing';
@import 'typography';
@import 'shadow';
@import 'others';
@import "../scss/mixins";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  @each $name, $value in $css-variables {
   #{$name}: #{$value};
  }
}

[data-theme="dark"] {
  --ui-background-color: var(--color-neutral-900);
  --ui-background-secondary: var(--color-neutral-800);
  --text-color-primary: var(--color-neutral-100);
  --text-color-secondary: var(--color-neutral-400);
  --text-color-tertiary: var(--color-neutral-500);
  --text-color-placeholder: var(--color-neutral-600);
}

html {
  font-size: 16px;
  background-color: var(--ui-background-color);
  color: var(--text-color-primary);
}

p {
  @include font-style(text-md);
}

@each $name, $value in $typography {
  .#{$name} {
    @include font-style($name)
  }
}




