@use "sass:map";
@use "sass:list";
@import 'color';
@import 'src/styles/new-theme/spacing';
@import 'src/styles/new-theme/typography';
@import 'src/styles/new-theme/shadow';
@import 'others';
@import "../scss/mixins";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  @each $name, $value in $css-variables {
   #{$name}: #{$value};
  }
}

[data-theme="dark"] {
  --ui-background-color: var(--color-neutral-900);
  --ui-01: var(--color-neutral-800);
  --text-01: var(--color-neutral-100);
  --text-02: var(--color-neutral-400);
  --text-05: var(--color-neutral-500);
  --text-03: var(--color-neutral-600);
}

html {
  font-size: 16px;
  background-color: var(--ui-background-color);
  color: var(--text-01);
}

p {
  @include font-style(text-md);
}

@each $name, $value in $typography {
  .#{$name} {
    @include font-style($name)
  }
}




