@import "../../../styles/scss/commons";

:host {
  display: inline-block;
  --list-border-radius: #{v(--border-radius)};
  --list-max-height: inherit;
}

.list {
  background: v(--color-white);
  border: 1px solid v(--color-grey-200);
  box-sizing: border-box;
  border-radius: var(--list-border-radius);
  overflow: hidden;

  .group-container {
    overflow-y: auto;
    max-height: var(--list-max-height);
  }

  .group-label {
    @include font-variant(caption);
    font-weight: v(--font-weight-semi-bold);
    @include font-capitalize;
    padding: v(--space-1) v(--space-3);
    box-sizing: border-box;
    background: v(--color-grey-700);
    color: v(--color-white);
  }

  .search {
    padding: v(--space-1) v(--space-1) 0 v(--space-1);
  }

  .item {
    @include font-variant(p1);
    cursor: pointer;
    padding: v(--space-3) v(--space-6);
    box-sizing: border-box;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: background 0.8s;

    &.item-separator {
      border-bottom: 1px solid v(--border-color);
    }

    .item-content {
      display: flex;
      align-items: center;
      flex-direction: row;
      .item-icon, .item-img {
        padding-right: v(--space-1_5);
      }
    }

    &.item-variant-icon {
      .item-label {
        //padding-top: 1px;
      }
    }

    &.item-has-focus {
      background: v(--color-primary-50);
      outline: none;
    }

    &.item-active {
      background: v(--color-grey-100);
      border-top-color: v(--border-color);
      border-bottom-color: v(--border-color);
      @include font-variant(p1);
font-weight: v(--font-weight-semi-bold);

      &:first-child {
        border-top-color: transparent;
      }

      &:last-child {
        border-bottom-color: transparent;
      }
    }


    &:hover {
      background: v(--color-primary-50) radial-gradient(circle, transparent 1%, v(--color-primary-50) 1%) center/15000%;
    }

    &:active {
      background-color: v(--color-grey-900);
      background-size: 100%;
      transition: background 0s;
    }
  }


  .empty-state {
    text-align: center;
    padding: v(--space-4);

    .empty-state-image {
      padding: 0 v(--space-4) v(--space-4) v(--space-4);
    }

    .empty-state-title {
      @include font-variant(p2);
      font-weight: v(--font-weight-semi-bold);
      padding-bottom: v(--space-2);
    }

    .empty-state-message {
      @include font-variant(caption);
      color: v(--color-grey-400);
    }
  }

}
