@import "functions";
@import "mixins";

* {
  box-sizing: border-box;
}

::selection {
  color: var(--color-white);
  background: var(--color-primary-500);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  :hover {
    background: #555;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


