@import "functions";
@import "mixins";

* {
  box-sizing: border-box;
}

::selection {
  color: var(--color-shades-white);
  background: var(--color-primary-500);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
