@use "sass:map";
@import '../theme/color';
@import '../theme/shadow';
@import '../theme/spacing';
@import '../theme/typography';
@import '../theme/others';

@function v($name) {
  $cssVars: map.merge($spacing, $shadows);
  $cssVars: map.merge($cssVars, $others);
  $cssVars: map.merge($cssVars, $typography);
  $cssVars: map.merge($cssVars, $colors);
  @return var(--#{$name}, map.get($cssVars, $name));
}
