@use "sass:map";
@import "functions";

@mixin font-style($type) {
  font-family: v(--font-family-base), serif;
  font-size: v(--#{$type}-font-size);
  line-height: v(--#{$type}-line-height);
  letter-spacing: v(--#{$type}-letter-spacing);
}

@mixin focus-ring($color:v(--color-primary)) {
  outline: 2px solid $color;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
