@import "functions";

@mixin font-style($type) {
  font-family: v(--font-family-base), serif;
  font-size: v(--#{$type}-font-size);
  line-height: v(--#{$type}-line-height);
  letter-spacing: v(--#{$type}-letter-spacing);
}

@mixin color($type) {
  font-size: var(--#{$type}-font-size);
  line-height: var(--#{$type}-line-height);
  letter-spacing: var(--#{$type}-letter-spacing);
}

@mixin font-common {
  font-family: #{v(font-family)};
  font-style: normal;
}


@mixin font-no-weight-variant($type) {
  @include font-common;
  font-size: v(font-size-#{$type});
  line-height: v(line-height-#{$type});
  letter-spacing: -0.04em;
}

@mixin font-variant($type) {
  @include font-no-weight-variant($type);
  font-weight: normal;
  font-size: v(font-size-#{$type});
  line-height: v(line-height-#{$type});
  letter-spacing: -0.04em;
}

@mixin focus-ring {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(#039be5, 25%);
}
