@import "../../../globalStyles/commons";

* {
}

:host {
  display: inline-block;
}

.badge {
  position: relative;
}

.badge-content {
  position: absolute;
  z-index: v(--z-index-badge);
  top: -0.375rem;
  right: -0.375rem;
  color: v(--color-white);
  display: flex;
  justify-content: center;
  width: 1.125rem;
  height: 1.125rem;
  align-items: center;
  background-color: var(--badge-color, v(--color-neutral));
  border-radius: 50%;
  padding: v(--spacing-1);
  font-family: v(--font-family-secondary);
  font-size: 0.7rem;
}


@each $state in [success, warning, error] {
  :host(.color-#{$state}) {
    .badge-content {
      background-color: v(--color-#{$state});
    }
  }
}
