---
import Layout from '../layouts/Base.astro';
---
<Layout>

  <style>
    main {
      min-height: 100vh;
      padding: 1rem;
    }

    #output-code {
      width: 500px;
    }

    #color-picker {
      appearance: none;
      background: transparent;
      border: none;
      height: 35px;
      width: 35px;
      cursor: pointer;
    }

    .hex-container {
      display: flex;
    }

    .border {
      display: inline-block;
      --runtime: #157A6A; /*#70ffaf;*/
      --outer-radius: 5px;
      --border-size: 2px;
      --inner-radius: calc(var(--outer-radius) - var(--border-size));
      background-image: conic-gradient(from var(--border-gradient-angle) at 50% 50%, transparent, var(--runtime) 14%, transparent 17%);
      border-radius: var(--outer-radius);
      background-size: contain;
      padding: var(--border-size);
      animation: buttonBorderSpin 9s linear infinite;

      .inside {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: var(--inner-radius);
      }
    }

    @keyframes buttonBorderSpin {
      0% {
        --border-gradient-angle: 0turn
      }

      100% {
        --border-gradient-angle: 1turn
      }
    }

    @property --border-gradient-angle {
      syntax: "<angle>";
      inherits: true;
      initial-value: 0turn;
    }

  </style>

  <main class='layer-01'>
    <div class='hex-container'>
      <goat-input id='input-hex'
                  layer="01"
                  label='HEX'
                  style='width: 20rem'></goat-input>
      <input type='color' id='color-picker' />
    </div>


    <goat-select id='select'
                 label='Scheme'
                 layer="01"
                 placeholder='Select'
                 value='primary'
                 style='width: 20rem'></goat-select>

    <div class='border'>
      <div class='inside'>
        <goat-button id='generate'>Generate</goat-button>
      </div>
    </div>

    <br />
    <goat-code-highlighter id='output-code' language='css'></goat-code-highlighter>

  </main>

  <script type='module'>
    const $dropDown = document.getElementById('select');
    $dropDown.items = [{
      label: 'brand-primary',
      value: 'brand-primary',
    },
      {
        label: 'brand-secondary',
        value: 'brand-secondary',
      },
      {
        label: 'custom-01',
        value: 'custom-01',
      },
    ];

    const $inputHex = document.getElementById('input-hex');
    const $colorPicker = document.getElementById('color-picker');
    const $generate = document.getElementById('generate');

    $inputHex.addEventListener('goat:change', function() {
      $colorPicker.value = $inputHex.value;
    });

    $colorPicker.addEventListener('input', function() {
      $inputHex.value = $colorPicker.value;
    });

    const $outputCode = document.getElementById('output-code');
    $generate.addEventListener('goat:click', () => {
      const input = $inputHex.value;
      const variable = '--color-' + $dropDown.value;
      const color = new Values(input);

      let output = variable + ': ' + input + ';\n';

      const items = color.all(20);
      for (let i = 0; i < 10; i = i + 1) {
        output = output + variable + '-' + ((i + 1) * 10) + ': #' + items[i].hex + ';\n';
      }
      console.log(output);
      $outputCode.value = output;

      document.getElementById('is-light').innerText = isLightOrDark(input);
    });

    function isLightOrDark(color) {
      // Variables for red, green, blue values
      let r, g, b, hsp;

      // Check the format of the color, HEX or RGB?
      if (color.match(/^rgb/)) {
        // If HEX --> store the red, green, blue values in separate variables
        color = color.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);

        r = color[1];
        g = color[2];
        b = color[3];
      } else {
        // If RGB --> Convert it to HEX: http://gist.github.com/983661
        color = +('0x' + color.slice(1).replace(color.length < 5 && /./g, '$&$&'));

        r = color >> 16;
        g = (color >> 8) & 255;
        b = color & 255;
      }

      // HSP (Highly Sensitive Poo) equation from http://alienryderflex.com/hsp.html
      hsp = Math.sqrt(0.299 * (r * r) + 0.587 * (g * g) + 0.114 * (b * b));

      // Using the HSP value, determine whether the color is light or dark
      if (hsp > 127.5) {
        return 'light';
      } else {
        return 'dark';
      }
    }


  </script>
  <script src='https://cdn.jsdelivr.net/npm/values.js'></script>
</Layout>
