@import "../../styles/variables";

:host {
  display: block;
}

.checkbox {
  position: relative;
  @include font-p1;
  display: flex;

  .checkbox-input {
    display: none;
  }

  .label {
    padding-left : var(--space-1);
  }

  .square path {
    stroke: var(--color-neutral-400);
  }

  &:hover {
    .square path {
      stroke: var(--color-primary-100);
    }
  }

  .square-checked path {
    stroke: var(--color-primary-500);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-neutral-300);
    .icon path {
      stroke: var(--color-neutral-300);
    }
  }


  /**
   * SIZES
   */
  &.size-lg {
    font-size: var(--font-size-p2);
    .label {
      padding-top: var(--space-1);
    }
  }

  &.size-md {
    font-size: var(--font-size-p1);
    .label {
      padding-top: var(--space-0_5);
    }
  }

  &.size-sm {
    font-size: var(--font-size-caption);
  }

}
