@import "../../styles/scss/commons";

:host {
  display: inline-block;
  padding-bottom:  v(space-3);
}


.checkbox {
  position: relative;
  @include font-variant(p1);
  display: flex;
  align-items: center;

  .native-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .slot-container {
    padding-left: v(space-2);
  }

  .icon-container {
    line-height: 0;

    .checkbox-icon {
      background: v(color-shades-white);
      --color: #{v(color-neutral-400)};
    }
  }

  &.checkbox-checked {
    .checkbox-icon {
      --color: #{v(color-primary-500)};
    }
  }

  &:not(.checkbox-checked):hover {
    .checkbox-icon {
        --color: #{v(color-primary-100)};
      }
  }

}

/**
 * SIZES
 */
:host([size="lg"]) {
  .checkbox {
    font-size: v(font-size-p2);
  }
}

:host([size="md"]) {
  .checkbox {
    font-size: v(font-size-p1);
  }
}

:host([size="sm"]) {
  .checkbox {
    font-size: v(font-size-caption);
  }
}

:host([focused]) {
  .icon-container {
    border-radius: v(border-radius);
    @include focus-ring;
  }
}

:host([disabled]) {
  .checkbox {
    cursor: not-allowed;
    color: v(color-neutral-300);

    .checkbox-icon {
      --color: #{v(color-neutral-300)};
    }
  }
}
