@import "../../styles/scss/commons";

:host {
  display: inline-block;
  padding-bottom: var(--space-3);
}

.checkbox {
  position: relative;
  @include font-p1;
  display: flex;

  .checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .label {
    padding-left : var(--space-1);
  }

  .square path {
    stroke: var(--color-neutral-400);
  }

  &:hover {
    .square path {
      stroke: var(--color-primary-100);
    }
  }

  .square-checked path {
    stroke: var(--color-primary-500);
  }

  &.checkbox-disabled {
    cursor: not-allowed;
    color: var(--color-neutral-300);
    .icon path {
      stroke: var(--color-neutral-300);
    }
  }


  /**
   * SIZES
   */
  &.checkbox-size-lg {
    font-size: var(--font-size-p2);
    .label {
      padding-top: var(--space-1);
    }
  }

  &.checkbox-size-md {
    font-size: var(--font-size-p1);
    .label {
      padding-top: var(--space-0_5);
    }
  }

  &.checkbox-size-sm {
    font-size: var(--font-size-caption);
  }

}
