---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<goat-text type='body'>Fancy larger or smaller input? Add size attribute for additional sizes.</goat-text>
<HighlighterCard lang={'html'}>

    <goat-input label='Email' type='text' size='lg'>
      <goat-icon slot='start' name='email'></goat-icon>
      <div slot='end'>@example.com</div>
    </goat-input>

    <goat-input type='text' label='Card Number'>
      <goat-icon slot='start' name='purchase'></goat-icon>
      <div slot='end'><goat-spinner></goat-spinner></div>
    </goat-input>

</HighlighterCard>
