---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<goat-text type='body'>Fancy larger or smaller input? Add size attribute for additional sizes.</goat-text>
<HighlighterCard lang={'html'}>
  <goat-form-control label='Email'>
    <goat-input type='text' size='lg'>
      <goat-icon slot='start' name='email'></goat-icon>
      <div slot='end'>@example.com</div>
    </goat-input>
  </goat-form-control>
  <goat-form-control label='Card Number'>
    <goat-input type='text'>
      <goat-icon slot='start' name='purchase'></goat-icon>
    </goat-input>
  </goat-form-control>
</HighlighterCard>
