---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<goat-text type='heading' heading-size='3'>Disabled</goat-text>
<goat-text type='body' expressive>Make input look inactive by adding the disabled <code>boolean</code> attribute to any
  <code>&lt;button&gt;</code> element.
</goat-text>

<HighlighterCard lang={'html'}>
  <goat-input disabled>
    <goat-icon slot='start' class='inherit' name='email'></goat-icon>
    <span slot='end'>@example.com</span>
  </goat-input>
</HighlighterCard>

<br />

<goat-text type='heading' heading-size='3'>Readonly</goat-text>
<goat-text type='body' expressive>Make input look inactive by adding the disabled <code>boolean</code> attribute to any
  <code>&lt;button&gt;</code> element.
</goat-text>

<HighlighterCard lang={'html'}>
  <goat-input readonly=''>
    <goat-icon slot='start' class='inherit' name='email'></goat-icon>
    <span slot='end'>@example.com</span>
  </goat-input>
</HighlighterCard>

<goat-text type='heading' heading-size='3'>Status</goat-text>
<HighlighterCard lang={'html'}>
  <goat-input label='City' invalid invalid-text='Please provide a valid city' value='America'></goat-input>
  <goat-input label='City' warn warn-text='Please provide a valid city' value='America'></goat-input>
  <goat-input label='City' success value='America'></goat-input>
</HighlighterCard>
