@import "../../../globalStyles/commons";
@import "../common-tabs";


$border-width: 0.125;
$tab-color: var(--tab-color, v(--color-primary));


:host {
  display: inline-block;
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.5rem;

  .native-button {
    height: 100%;
    cursor: pointer;
    z-index: v(--z-index-button);
    background: transparent;
    padding: 0;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;

    .slot-container {
      display: none;
    }
  }

  .tab-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    gap: v(--spacing-02);
    border: 2px solid transparent;
    border-bottom: 0;
    padding: 0 1rem;
    @include font-style(body-compact-01);
  }

  .tab-background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &.disabled .native-button {
    cursor: not-allowed;
  }

  &.has-content .slot-container {
    display: flex;
  }

}

/**
 * Tab variant definitions - bottom line
 */
.tab {

  .native-button {
    color: v(--text-secondary);
    border-bottom-color: $tab-inactive-border-bottom;
  }

  .tab-background {
    background: transparent;
  }

  .tab-content {
    @include font-style(body-01);
  }

  &:hover {
    .native-button {
      color: v(--text-primary);
      border-bottom-color: v(--border-strong-01);
    }
  }

  &.selected {
    .native-button {
      color: v(--text-primary);
      border-bottom-color: #{$tab-color};
    }

    .tab-content {
      @include font-style(heading-compact-01);
    }
  }


  &.has-focus:not(.active) {
    .native-button {
      border-bottom-color: v(--color-primary);
    }

    .tab-content {
      border-color: v(--color-primary);
    }
  }

  &.disabled {
    .native-button {
      color: v(--text-disabled);
      border-bottom-color: v(--border-disabled) !important;
    }

    &.has-focus:not(.active) .tab-content {
      border-color: transparent !important;
    }
  }
}

/**
  * Color Variants
  */
@each $color in [brand-primary, brand-secondary, primary, success, error, info, warning, secondary] {
  :host(.color-#{$color}) .tab {
    --tab-color: #{v(--color-#{$color})};
  }
}
