---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---

<style is:inline>
  .demo-usage-container .demo-area {
    height: 500px;
    overflow: auto;
  }

  .demo-usage-container .demo-area-inner {
    height: 300%;
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
</style>

<HighlighterCard lang='html' cssClasses='demo-usage-container'>


  <goat-popover id='popover' trigger='hover' open>
    <goat-icon name='settings' style='cursor: pointer'></goat-icon>

    <goat-popover-content>
      <goat-input label='Name' layer='01'></goat-input>
      <goat-input label='Email' layer='01'></goat-input>
      <goat-button>Submit</goat-button>
    </goat-popover-content>

    <div slot='start'></div>
  </goat-popover>


</HighlighterCard>

<script is:inline>

  const $demoArea = document.querySelector('.demo-usage-container .demo-area');

  setTimeout(() => {
    $demoArea.scroll($demoArea.scrollWidth/ 3, $demoArea.scrollHeight/ 3);
  }, 1000);

</script>

