@import "./editor.main";
@import "../../styles/scss/variables";

:host {
  display: block;
  height: 100%;
}

.script-editor-component {
  font-family: var(--font-family);
  height: 100%;

  .editor {
    height: 100%;
    min-height: 2rem;
    border: 1px solid var(--color-neutral-500);


    &[disabled], &[disabled="true"] {
      color: var(--color-neutral-500);
      background-color: var(--color-neutral-100);
      border-color: var(--color-neutral-500);
      cursor: not-allowed;
    }
  }

  &.disabled {
    .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .view-lines {
      cursor: default;
    }
  }

  &.disabled.vs-light {
    .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin {
      background: var(--color-neutral-200);
    }
  }
  &.disabled.vs-dark {
    .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin {
      background: var(--color-neutral-800);
    }
  }

}

