{% GoatHighlighterCard language:"html" %}

<div class="component-container">
  <goat-badge content="1" class="color-warning">
    <goat-icon name="notification" size="lg"></goat-icon>
  </goat-badge>

  <goat-badge content="30" class="color-error">
    <goat-icon name="notification" size="lg"></goat-icon>
  </goat-badge>

  <goat-badge content="" class="color-error">
    <goat-icon name="notification" size="lg"></goat-icon>
  </goat-badge>
</div>

<div class="component-container">
  <goat-badge content="2" class="color-success">
    <goat-button icon="home" color="secondary"></goat-button>
  </goat-badge>

  <goat-badge content="" class="color-error">
    <goat-button icon="home" color="success"></goat-button>
  </goat-badge>
</div>
{% endGoatHighlighterCard %}
